interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"htc vive, windows, mac, linux, vr, headset, virtual
        reality, augmented reality, hardware, headsets, haptics, controllers, input,
        keyboard, handheld, feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/games/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Games -
        HTC Vive - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, video games, indie games, standalone games, plugins, free games, game
        extensions, expansion packs, game episode\" />\r\n\t<meta name=\"description\"
        content=\"Browse and find games created by HTC Vive at Mod DB.\" />\r\n\t<meta
        name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\"
        content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\" content=\"Games
        - HTC Vive\" />\r\n\t<meta property=\"og:description\" content=\"Browse and
        find games created by HTC Vive at Mod DB.\" />\r\n\t<meta property=\"og:site_name\"
        content=\"Mod DB\" />\r\n\t \r\n\t \r\n\t \r\n\t \r\n\t<meta property=\"twitter:card\"
        content=\"summary\" />\r\n\t<meta property=\"twitter:site\" content=\"@moddb\"
        />\r\n\t<meta property=\"twitter:title\" content=\"Games - HTC Vive\" />\r\n\t<meta
        property=\"twitter:description\" content=\"Browse and find games created by
        HTC Vive at Mod DB.\" />\r\n\t \r\n\t \r\n\t<link rel=\"stylesheet\" type=\"text/css\"
        media=\"all\" href=\"https://static.moddb.com/html/external/min/index.php?g=css&amp;73\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.ico\" type=\"image/x-icon\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.png\" type=\"image/png\"
        sizes=\"96x96\" />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon-192x192.png\"
        type=\"image/png\" sizes=\"192x192\" />\r\n\t<link rel=\"apple-touch-icon\"
        href=\"https://www.moddb.com/apple-touch-icon.png\" sizes=\"180x180\" />\r\n\t\t<script
        src=\"https://static.moddb.com/html/external/min/index.php?g=jquery&amp;1\"></script><link
        rel=\"next\" href=\"/hardware/htc-vive/games/page/2\" /><script>\r\n\t\t!function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g,function(e){return(e^(window.crypto||window.msCrypto).getRandomValues(new
        Uint8Array(1))[0]&15>>e/4).toString(16)})};e.config=i||{},e.config.apiKey=o,e.config.workspaceId=n,e.config.environment=e.config.environment||\"production\",(window.crypto||window.msCrypto)&&(e.config.viewId=t());for(var
        g=[\"addon\",\"identify\",\"track\",\"trigger\",\"query\",\"segment\",\"segments\",\"ready\",\"on\",\"once\",\"user\",\"consent\"],r=0;r<g.length;r++){var
        w=g[r];e[w]=function(o){return function(){var n=Array.prototype.slice.call(arguments,0);e.q.push({functionName:o,arguments:n})}}(w)}}}(window.permutive,\"394f5b6d-4224-4a63-9ca8-964c7ebc364e\",\"0f73e92f-4074-4fe3-85d3-ed3fc969859e\",{\"consentRequired\":
        true});\r\n\t\twindow.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting(\"permutive\").length){var
        e=window.localStorage.getItem(\"_pdfps\");window.googletag.pubads().setTargeting(\"permutive\",e?JSON.parse(e):[]);var
        o=window.localStorage.getItem(\"permutive-id\");o&&(window.googletag.pubads().setTargeting(\"puid\",o),window.googletag.pubads().setTargeting(\"ptime\",Date.now().toString())),window.permutive.config.viewId&&window.googletag.pubads().setTargeting(\"prmtvvid\",window.permutive.config.viewId),window.permutive.config.workspaceId&&window.googletag.pubads().setTargeting(\"prmtvwid\",window.permutive.config.workspaceId)}});\r\n\t\t\r\n\t\tpermutive.addon(\"web\",{\r\n\t\t\"page\":
        {\r\n\t\t\t\"user\":{\"logged_in\":false,\"subscriber\":false},\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\"classifications_watson\":
        {\r\n\t\t\t\"categories\": \"$alchemy_taxonomy\",\r\n\t\t\t\"keywords\": \"$alchemy_keywords\"
        }\r\n\t\t}});\r\n\t\t</script>\r\n\t\t<script async src=\"https://0f73e92f-4074-4fe3-85d3-ed3fc969859e.edge.permutive.app/0f73e92f-4074-4fe3-85d3-ed3fc969859e-web.js\"></script>\r\n</head>\r\n<body>\r\n\r\n<div
        id=\"body\">\r\n<div class=\"container\">\r\n\t<header><div id=\"header\">\r\n\t\t<div
        id=\"searchbox\">\r\n\t\t\t \r\n\t\t\t<span class=\"guest\">Hello guest <a
        href=\"/members/register\">register</a> or <a href=\"/members/login\" id=\"togglelogin\">sign
        in</a></span><span class=\"arrow\">&nbsp;</span>\r\n\t\t\t<form action=\"https://www.moddb.com/search\"
        class=\"search\" method=\"get\"><input type=\"text\" name=\"q\" maxlength=\"500\"
        value=\"\" id=\"sitesearch\" class=\"text\" placeholder=\"Search\"  /><input
        type=\"image\" name=\"sa\" value=\"Search\" src=\"https://static.moddb.com/cutoff/images/default/btn_search_box.png\"
        class=\"button\" alt=\"Search Mod DB\" title=\"Search Mod DB\"  /></form>\t\t\t
        \r\n\t\t\t<form action=\"https://www.moddb.com/members/login\" method=\"post\"
        name=\"memberform\" class=\"login\"><input type=\"hidden\" name=\"referer\"
        value=\"/hardware/htc-vive/games/\" /><input type=\"hidden\" name=\"rememberme\"
        value=\"1\" /><input type=\"hidden\" name=\"members\" value=\"1\" /><span
        class=\"daedfccdecdcaabformouter\"><span><span><span><span><span class=\"daedfccdecdcaabforminner\"><input
        type=\"text\" name=\"IyNhNTU4YWY0YmMyYzA0YzAwNzFkMjJhZDAxMGJkZjY5MDIzMTc1ODYzODN1c2VybmFtZQ:E::E:\"
        maxlength=\"500\" value=\"\" placeholder=\"Username\" class=\"text\" autocomplete=\"off\"
        \ /></span></span></span></span></span></span><span class=\"daedfccdecdcaabformouter\"><span><span><span><span
        class=\"daedfccdecdcaabforminner\"><input type=\"text\" name=\"IyNhNTU4YWY0YmMyYzA0YzAwNzFkMjJhZDAxMGJkZjY5MDk3MjQ1OTY5MzRib3RjYXRjaGVy\"
        maxlength=\"500\" placeholder=\"Username\" class=\"text\" autocomplete=\"off\"
        \ /></span></span></span></span></span><style> span.daedfccdecdcaabformouter
        span span span span.daedfccdecdcaabforminner { display: none; } span.daedfccdecdcaabformouter
        span span span span span.daedfccdecdcaabforminner { display: inline; }</style>\n<input
        type=\"password\" name=\"password\" maxlength=\"100\" placeholder=\"Password\"
        class=\"text password\" autocomplete=\"off\"  /><input type=\"submit\" name=\"members\"
        value=\"GO\" class=\"button\" title=\"Sign In\"  /></form>\t\t\t<span class=\"login\"
        style=\"display: none;\">or with: <a href=\"/members/loginext/steam\" class=\"steamiconsml\"
        style=\"float: right; margin: 3px 1px 0 4px;\" title=\"Click to connect via
        Steam\"></a><a href=\"/members/loginext/google\" class=\"googleiconsml\" style=\"float:
        right; margin: 3px 1px 0 4px;\" title=\"Click to connect via Google\"></a><a
        href=\"/members/loginext/twitter\" class=\"twittericonsml\" style=\"float:
        right; margin: 3px 1px 0 4px;\" title=\"Click to connect via Twitter\"></a><a
        href=\"/members/loginext/facebook\" class=\"facebookiconsml\" style=\"float:
        right; margin: 3px 1px 0 4px;\" title=\"Click to connect via Facebook\"></a></span>\r\n\t\t\t
        \r\n\t\t</div>\r\n\r\n\t\t<h1>Games - HTC Vive</h1>\r\n\t\t<a href=\"/\" class=\"logo\"
        title=\"Mod DB Home\"></a>\r\n\r\n \t\t \r\n\t\t<ul class=\"tabs\">\r\n\t\t\t
        \r\n\t\t\t<li class=\"on\"><a href=\"/\">HOME</a></li>\r\n\t\t\t \r\n\t\t\t<li><a
        href=\"/today\" title=\"New today\">Today</a></li>\r\n\t\t\t<li><a href=\"/week\"
        title=\"New this week\">Week</a></li>\r\n\t\t\t<li><a href=\"/month\" title=\"New
        this month\">Month</a></li>\r\n\t\t</ul>\r\n\t</div>\r\n\t<div id=\"subheader\">\r\n\t\t<nav><ul
        class=\"tabs\">\r\n\t\t\t<li class=\"firsttab\"><a href=\"/games\">games</a>\r\n\t\t\t\t<ul>\r\n\t\t\t\t\t<li><a
        href=\"/games/top\">popular</a></li>\r\n\t\t\t\t\t<li><a href=\"/games/latest\">latest</a></li>\r\n\t\t\t\t\t<li><a
        href=\"https://www.indiedb.com\">indies</a></li>\r\n\t\t\t\t\t<li><a href=\"https://modularity.games\">publishing</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/games/add\">add game</a></li>\r\n\t\t\t\t\t\t\t\t\t</ul>\r\n\t\t\t</li>\r\n\t\t\t<li[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/the-platform
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The Platform
        Windows, Mac, Linux, VR, PS5 game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"the platform, windows, mac, linux,
        vr, playstation 5, single, multiplayer, co, op, sci, fi, indie, third, person,
        shooter, vid[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/taraniawarsonline
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Tarania
        Wars Online Windows, Mac, Linux, VR, AR, iOS, Android, XONE, XBOX, PS5, PS4
        game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"tarania wars online, windows, mac, linux, vr, ar, ios, android,
        xbox one, xbox, playstation 5, playstation 4, mmo, anime, indie, role, playing,
        video game, indie game, standalone game, developers, creation, expansion pack\"
        />\r\n\t<meta name=\"description\" content=\"The Next Generation of an Online
        Game. Developer: Jojishi Productions(Solo Dev) Type Of Game: Medieval, Futuristic,
        Action, Adventure, Online. Game Name: Tarania Wars Online. Release of the
        game: Beta will be released in June TBD. The original the game...\" />\r\n\t<meta
        name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\"
        content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\" content=\"Tarania
        Wars Online Windows, Mac, Linux, VR, AR, iOS, Android, XONE, XBOX, PS5, PS4
        game\" />\r\n\t<meta property=\"og:description\" content=\"The Next Generation
        of an Online Game. Developer: Jojishi Productions(Solo Dev[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/blinnk-and-the-vacuum-of-space
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>BLINNK
        and the Vacuum of Space Windows, VR, PS5 game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"blinnk and
        the vacuum of space, windows, vr, playstation 5, single, player, comedy, indie,
        adventure, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/coffin-rot-brewing-co
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Coffin
        Rot Brewing Co. Windows, VR game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"coffin rot brewing co, windows, vr,
        single, player, pirate, indie, real, time, strategy, video game, indie game,
        standalone [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/sugar-mess-lets-play-jolly-battle
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Sugar Mess
        - Let's Play Jolly Battle Windows, Linux, VR, PS5 game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"sugar mess
        lets play jolly battle, windows, linux, vr, playstation 5, single, player,
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/mageworks
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>MageWorks
        Windows, VR game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"mageworks, windows, vr, single, player, fantasy,
        indie, role, playing, video game, indie game, standalone game, developers,
        creation, expansion pack\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/not-me
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>NOT ME
        VR game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"not me, vr, multiplayer, realism, indie, adventure, video game,
        indie game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/yupitergrad-2-the-lost-station
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Yupitergrad
        2: The Lost Station Windows, VR game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"yupitergrad 2 the lost station, windows,
        vr, single, player, sci, fi, indie, adventure, video game, indie game, st[...]
