interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"htc vive, windows, mac, linux, vr, headset, virtual
        reality, augmented reality, hardware, headsets, haptics, controllers, input,
        keyboard, handheld, feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/downloads/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Downloads
        - HTC Vive - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, downloads, files, addons, games, customize, mods, demos, servers,[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/downloads/page/1?category=3&filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Downloads
        - HTC Vive - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, downloads, files, addons, games, customize, mods, demo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fallout-4/downloads/jtrainz-improved-f4-ranged-weaponry-3-2
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Jtrainz
        Improved F4 Ranged Weaponry 3.2 file - Fallout 4 - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"fallout 4,
        jtrainz improved f4 ranged weaponry 32, full, version, downloads, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fallout-4/downloads/jtrainz-increased-iron-sight-zoom
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Jtrainz
        Increased Iron Sight Zoom file - Fallout 4 - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"fallout 4, jtrainz increased iron
        sight zoom, full, version, downloads, files, demos, ser[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/project-terminus/downloads/project-terminus-vrbeta-1-2-3b-setup
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Project
        Terminus VRBeta 1 2 3b Setup file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"project terminus, project terminus
        vrbeta 1 2 3b setup, demo, downloads, files, demos, s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/mythlink/downloads/demo-1081
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Demo 1.08
        file - Mythlink - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"mythlink, demo 108, demo, downloads, files, demos,
        servers, patches, installer, trailers, movies, wallpaper, development tools,
        app[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/mythlink/downloads/current-production-demo
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Current
        Production Demo file - Mythlink - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"mythlink, current production demo,
        demo, downloads, files, demos, servers, patches, installer, trailers, movies[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fallout-4/downloads/fallout-4-icon-pack-by-fairfight
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Fallout
        4 Icon Pack by FairFight file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"fallout 4, fallout 4 icon pack by
        fairfight, other, downloads, files, demos, servers, patches, installe[...]
