interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"htc vive, windows, mac, linux, vr, headset, virtual reality, augmented
        reality, hardware, headsets, haptics, controllers, input, keyboard, handheld,
        feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/software/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Software
        - HTC Vive - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, vr, ar, virtual reality, augmented reality, software, software, arch[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/realities
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Realities
        Windows, VR software - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"realities, windows, vr, vr, virtual reality, augmented
        reality, software, architecture, retail, tours, social networking, sdk, educational,
        med[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/paintlab
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>PaintLab
        Windows, VR software - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"paintlab, windows, vr, vr, virtual reality, augmented
        reality, software, architecture, retail, tours, social networking, sdk, educational,
        medica[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/janusvr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>JanusVR
        Windows, Mac, Linux, VR software - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"janusvr, windows, mac, linux, vr,
        vr, virtual reality, augmented reality, software, architecture, retail, tours,
        social networking, sdk[...]
