interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"htc vive, windows, mac, linux, vr, headset, virtual reality, augmented
        reality, hardware, headsets, haptics, controllers, input, keyboard, handheld,
        feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/hardware/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, htc
        vive, windows, mac, linux, vr, headset, virtual reality, augmented reality,
      [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/3drudder
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>3DRudder
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"3drudder, windows, vr, controller, virtual reality, augmented reality,
        hardware, headsets, haptics, controllers, input, keyboard, handheld, feedback,
        develop[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/nexperience
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>NEXPERIENCE
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"nexperience, vr, haptics, virtual reality, augmented reality, hardware,
        headsets, haptics, controllers, input, keyboard, handheld, feedback, developers,
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/ossic-x
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Ossic X
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"ossic x, vr, sound, virtual reality, augmented reality, hardware,
        headsets, haptics, controllers, input, keyboard, handheld, feedback, developers,
        creation, ge[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/virzoom
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>VirZOOM
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"virzoom, windows, vr, playstation 4, controller, virtual reality,
        augmented reality, hardware, headsets, haptics, controllers, input, keyboard,
        handheld, feedb[...]
