interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"htc vive, windows, mac, linux, vr, headset, virtual reality, augmented
        reality, hardware, headsets, haptics, controllers, input, keyboard, handheld,
        feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/tags/ajax/more?ajax=t&sitearea=hardware&siteareaid=111
  response:
    body:
      string: '{"error":false,"success":true,"text":"","tags":{"642983":{"id":"642983","sitearea":"8","siteareaid":"111","date":"1477381856","official":"1","positive":"0","negative":"0","tagid":"headset","tag":"Headset","trending":"-5"},"642984":{"id":"642984","sitearea":"8","siteareaid":"111","date":"1477381856","official":"1","positive":"0","negative":"0","tagid":"vr","tag":"VR","trending":"-5"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
