interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"htc vive, windows, mac, linux, vr, headset, virtual
        reality, augmented reality, hardware, headsets, haptics, controllers, input,
        keyboard, handheld, feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/downloads/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Downloads
        - HTC Vive - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, downloads, files, addons, games, customize, mods, demos, servers,[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/downloads/page/1?filter=t&category=3
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Downloads
        - HTC Vive - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, downloads, files, addons, games, customize, mods, demo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fish-fillets-vr/downloads/fish-fillets-vr-linux
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Fish Fillets
        VR Linux file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"fish fillets vr, fish fillets vr linux, demo,
        downloads, files, demos, servers, patches, installer, trailers, movies, w[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/stealth-kill-vr-missions/downloads/stealthkillvr-v030
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>StealthKillVR
        v0.3.0 file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"stealth kill vr missions, stealthkillvr v030,
        demo, downloads, files, demos, servers, patches, installer, trailers[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/stealth-kill-vr-missions/downloads/stealth-kil-lvr-v045
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Stealth
        Kill VR v0.4.5 file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"stealth kill vr missions, stealth kill vr v045,
        demo, downloads, files, demos, servers, patches, installer, tr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/mythlink/downloads/demo-105
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Demo 1.05
        file - Mythlink - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"mythlink, demo 105, demo, downloads, files, demos,
        servers, patches, installer, trailers, movies, wallpaper, development tools,
        appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fallout-4/downloads/fallout-4-icon-pack-by-fairfight
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Fallout
        4 Icon Pack by FairFight file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"fallout 4, fallout 4 icon pack by
        fairfight, other, downloads, files, demos, servers, patches, installe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fallout-4/downloads/sewer-139-battle-tec-inc
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Sewer 139
        - Battle-Tec Inc. file - Fallout 4 - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"fallout 4, sewer 139 battle tec inc,
        full, version, downloads, files, demos, servers, patches, installer[...]
