interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"htc vive, windows, mac, linux, vr, headset, virtual
        reality, augmented reality, hardware, headsets, haptics, controllers, input,
        keyboard, handheld, feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/software/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Software
        - HTC Vive - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, vr, ar, virtual reality, augmented reality, software, software, arc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/freefall
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Freefall
        VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"freefall, vr, vr, virtual reality, augmented reality,
        software, architecture, retail, tours, social networking, sdk, educational,
        medical, environment, m[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/altspacevr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>AltspaceVR
        Windows, VR, Android, AndroidTab software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"altspacevr, windows, vr, android,
        android tablet, vr, virtual reality, augmented reality, software, architecture,
        retai[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/paintlab
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>PaintLab
        Windows, VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"paintlab, windows, vr, vr, virtual
        reality, augmented reality, software, architecture, retail, tours, social
        networking, sdk, educational, medic[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/disney-movies-vr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Disney
        Movies VR Windows, VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"disney movies vr, windows, vr, vr,
        virtual reality, augmented reality, software, architecture, retail, tours,
        social networking,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/the-rose-and-i
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The Rose
        and I Windows, VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"the rose and i, windows, vr, vr, virtual
        reality, augmented reality, software, architecture, retail, tours, social
        networking, sdk, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/mydream-swift
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>MyDream
        Swift Windows, VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"mydream swift, windows, vr, vr, virtual
        reality, augmented reality, software, architecture, retail, tours, social
        networking, sdk, edu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/project-neptune-vr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Project
        Neptune VR VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"project neptune vr, vr, vr, virtual
        reality, augmented reality, software, architecture, retail, tours, social
        networking, sdk, educat[...]
[...]
