interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"htc vive, windows, mac, linux, vr, headset, virtual reality, augmented
        reality, hardware, headsets, haptics, controllers, input, keyboard, handheld,
        feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/downloads/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Downloads
        - HTC Vive - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, downloads, files, addons, games, customize, mods, demos, servers,
[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive/downloads/page/1?category=3&filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Downloads
        - HTC Vive - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"htc vive, browse,
        search, downloads, files, addons, games, customize, mods, demos[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/house-of-the-dying-sun/downloads/bepinex-54180-preconfigured
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>BepInEx
        5.4.18.0 Preconfigured file - House of the Dying Sun - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"house of
        the dying sun, bepinex 54180 preconfigured, full, version, downl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fallout-4/downloads/animerace-nanakochan-dv
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>AnimeRace
        Nanakochan DV file - Fallout 4 - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"fallout 4, animerace nanakochan dv,
        full, version, downloads, files, demos, servers, patches, installer, trail[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/mythlink/downloads/demo-1111
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Demo 1.11
        file - Mythlink - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"mythlink, demo 111, demo, downloads, files, demos,
        servers, patches, installer, trailers, movies, wallpaper, development tools,
        appl[...]
