interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/valve
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Valve company
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"valve, developer, publisher, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"Valve
        the company behind the games such as Half Life and Half Life 2 is located
        in Bellevue, Washington. They are a exciting and dynamic company well known
        for picking up mods as retail games and welcoming budding game designers to
        there head offic[...]
