interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/call-of-chernobyl/addons/arsenal-overhaul
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Arsenal
        Overhaul 3.1 (v.5) addon - S.T.A.L.K.E.R.: Call of Chernobyl mod for S.T.A.L.K.E.R.:
        Call of Pripyat - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"stalker call of chernobyl mod for stalker call
        of pripyat, arsenal overhaul 31 v5, weapon, skin, downloads, customize, mods,
        singleplayer maps, multiplayer maps, player skins, weapon skins, player models,
        gun models, weapon models, sounds, audio, music, decals, guis, huds, sprites,
        sprays, textures\" />\r\n\t<meta name=\"description\" content=\"Arsenal Overhaul
        3.1 addon for Call of C[...]
