interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/members/hunter
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HuntEr
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"HuntEr, Australia, friends, developer, profile, features, articles,
        modder, gamer, member, user\" />\r\n\t<meta name=\"description\" content=\"View
        the Mod DB  member HuntEr to see their friends, groups and content shared
        with the community.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
       [...]
[...]
