interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/v1-infinity
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>V1 Infinity
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"v1 infinity, developer, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"A small
        Indy team based in the Maryland, USA. Currently we are working on ISLAND LIFE
        (working game), a interactive life simulation.\" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"2101343456720[...]
