interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/extreme-vs-full-boost-mod/images/new-dlc-released
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>New DLC
        released! image - Extreme VS full boost mod for Ultimate Knight Windom XP
        - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"extreme vs full boost mod for ultimate knight windom xp, new dlc
        released, image, screenshots, screens, picture, photo, render, concept, art,
        in-game\" />\r\n\t<meta name=\"description\" content=\"look in the Addon tab!\"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\"
       [...]
