interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/oculus-rift
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Oculus
        Rift hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"oculus rift, windows, mac, linux, vr, headset,
        virtual reality, augmented reality, hardware, headsets, haptics, controllers,
        input, keyboard, handheld, feedback, developers, creation, gear\" />\r\n\t<meta
        name=\"description\" content=\"The Rift is unlike anything you\u2019ve ever
        experienced. Whether you\u2019re stepping into your favorite game, watching
        an immersive VR movie, jumping[...]
