interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/perisno
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Perisno
        mod for Mount &#038; Blade: Warband - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"perisno mod, mount blade warband,
        total conversion, addon, development, indie, extension, creation, episode,
        chapter, expansion pack, single, player, medieval, role, playing\" />\r\n\t<meta
        name=\"description\" content=\"Perisno is a total conversion light fantasy
        mod based in the fictional land of Perisno. Encounter unique factions, races,
        unexpected events, and discover unique oppor[...]
