interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/shifting-dungeons/downloads/shifting-dungeons-update-1-mac-osx
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Shifting
        Dungeons - Update 1 (Mac OSX) file - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"shifting dungeons, shifting dungeons
        update 1 mac osx, full, version, downloads, files, demos, servers, patches,
        installer, trailers, movies, wallpaper, development tools, applications, media,
        modelling, mapping, development, ide, sdk, guides\" />\r\n\t<meta name=\"description\"
        content=\"The first post-Ludum Dare 35 update for Shifting Dungeons for Mac
        OS X. Installation instructions[...]
