interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/unknown
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Unknown
        engine - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"unknown, Commercial, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
        />\r\n\t<meta name=\"description\" content=\"The engine used to build this
        game is unknown. This is not a _real_ game engine, this is a generic placeholder.\"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        pro[...]
