interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/armory-world-of-warcraft
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Armory
        mod for World of Warcraft - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"armory mod, world of warcraft, total
        conversion, addon, development, indie, extension, creation, episode, chapter,
        expansion pack, single, multiplayer, realism, role, playing\" />\r\n\t<meta
        name=\"description\" content=\"An update to the Armory mod by Warmexx.           \"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        property=\"fb:app_id\" content=\[...]
