interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Humor,
        satire, parody group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, entertainment,
        press, groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
        name=\"description\" content=\"Home for all kinds of humor, satires, parodies,
        sarcasms and more.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/star-wars-empire-at-war-forces-of-corruption-mods
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Star Wars
        Empire at War Forces of Corruption Mods group - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"star wars
        empire at war forces of corruption mods, fans, clans, groups, events, company[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/warhammer-40k-fans-group
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Warhammer
        40K Fan Group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"warhammer 40k fan group, fans, clans, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/tanks
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Tank Lovers
        Group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"tank lovers group, hobbies, interests, groups, events, company,
        club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"This group i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/moddb
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Mod DB - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"mod db, browse, search, video game editorals,
        mod previews, game previews, interviews, features, articles, competitions,
        discussion, tutorials, news, event coverage, information\" />\r\n\t<meta name=\"description\"
        content=\"Browse Mod DB article direct from modders.\" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Articles - Mod DB\" />\r\n\t<meta property=\"og:description\"
        content=\"Browse Mod DB article direct from modders.\" />\r\n\t<meta property=\"og:site_name\"
        content=\"Mod DB\" />\r\n\t \r\n\t \r\n\t \r\n\t \r\n\t<meta property=\"twitter:card\"
        content=\"summary\" />\r\n\t<meta property=\"twitter:site\" content=\"@moddb\"
        />\r\n\t<meta property=\"twitter:title\" content=\"Articles - Mod DB\" />\r\n\t<meta
        property=\"twitter:description\" content=\"Browse Mod DB article direct from
        modders.\" />\r\n\t \r\n\t \r\n\t<link rel=\"stylesheet\" type=\"text/css\"
        media=\"all\" href=\"https://static.moddb.com/html/external/min/index.php?g=css&amp;73\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.ico\" type=\"image/x-icon\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.png\" type=\"image/png\"
        sizes=\"96x96\" />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon-192x192.png\"
        type=\"image/png\" sizes=\"192x192\" />\r\n\t<link rel=\"apple-touch-icon\"
        href=\"https://www.moddb.com/apple-touch-icon.png\" sizes=\"180x180\" />\r\n\t<link
        rel=\"alternate\" href=\"https://rss.moddb.com/groups/moddb/articles/feed/rss.xml\"
        type=\"application/rss+xml\" title=\"Articles - Mod DB feed\" />\t<link rel=\"next\"
        href=\"/groups/moddb/articles/page/2\" /><script>\r\n\t\t!function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g,function(e){return(e^(window.crypto||window.msCrypto).getRandomValues(new
        Uint8Array(1))[0]&15>>e/4).toString(16)})};e.config=i||{},e.config.apiKey=o,e.config.workspaceId=n,e.config.environment=e.config.environment||\"production\",(window.crypto||window.msCrypto)&&(e.config.viewId=t());for(var
        g=[\"addon\",\"identify\",\"track\",\"trigger\",\"query\",\"segment\",\"segments\",\"ready\",\"on\",\"once\",\"user\",\"consent\"],r=0;r<g.length;r++){var
        w=g[r];e[w]=function(o){return function(){var n=Array.prototype.slice.call(arguments,0);e.q.push({functionName:o,arguments:n})}}(w)}}}(window.permutive,\"394f5b6d-4224-4a63-9ca8-964c7ebc364e\",\"0f73e92f-4074-4fe3-85d3-ed3fc969859e\",{\"consentRequired\":
        true});\r\n\t\twindow.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting(\"permutive\").length){var
        e=window.localStorage.getItem(\"_pdfps\");window.googletag.pubads().setTargeting(\"permutive\",e?JSON.parse(e):[]);var
        o=window.localStorage.getItem(\"permutive-id\");o&&(window.googletag.pubads().setTargeting(\"puid\",o),window.googletag.pubads().setTargeting(\"ptime\",Date.now().toString())),window.permutive.config.viewId&&window.googletag.pubads().setTargeting(\"prmtvvid\",window.permutive.config.viewId),window.permutive.config.workspaceId&&window.googletag.pubads().setTargeting(\"prmtvwid\",window.permutive.config.workspaceId)}});\r\n\t\tpermutive.identify([{\r\n\t\t\t\"id\":
        \"4616793\",\r\n\t\t\t\"tag\": \"dbolical_id\"\r\n\t\t}]);\r\n\t\tpermutive.addon(\"web\",{\r\n\t\t\"page\":
        {\r\n\t\t\t\"user\":{\"logged_in\":true,\"subscriber\":false},\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\"classifications_watson\":
        {\r\n\t\t\t\"categories\": \"$alchemy_taxonomy\",\r\n\t\t\t\"keywords\": \"$alchemy_keywords\"
        }\r\n\t\t}});\r\n\t\t</script>\r\n\t\t<script async src=\"https://0f73e92f-4074-4fe3-85d3-ed3fc969859e.edge.permutive.app/0f73e92f-4074-4fe3-85d3-ed3fc969859e-web.js\"></script>\r\n</head>\r\n<body>\r\n\r\n<div
        id=\"body\">\r\n<div class=\"container\">\r\n\t<header><div id=\"header\">\r\n\t\t<div
        id=\"searchbox\">\r\n\t\t\t \r\n\t\t\t<span class=\"member\"><a href=\"/members/eremosthesecond\"
        title=\"Your personal control panel and profile\"><strong>EremosTheSecond</strong></a>
        | <a href=\"/messages/inbox\" class=\"pmicon messagescount\" title=\"Private
        Messages\">0</a> | <a href=\"/messages/updates\" title=\"Group and watch updates\"><span
        class=\"updatescount\">11</span> updates</a> | <a href=\"/forum/board/thread-watch\"
        title=\"Forum threadwatch\"><span class=\"threadwatchcount\">0</span> threads</a>
        | <a href=\"/members/logout\">logout</a></span>\r\n\t\t\t<form action=\"https://www.moddb.com/search\"
        class=\"search\" method=\"get\"><input type=\"text\" name=\"q\" maxlength=\"500\"
        value=\"\" id=\"sitesearch\" class=\"text\" placeholder=\"Search\"  /><input
        type=\"image\" name=\"sa\" value=\"Search\" src=\"https://static.moddb.com/cutoff/images/default/btn_search_box.png\"
        class=\"button\" alt=\"Search Mod DB\" title=\"Search Mod DB\"  /></form>\t\t\t
        \r\n\t\t</div>\r\n\r\n\t\t<h1>Articles - Mod DB</h1>\r\n\t\t<a href=\"/\"
        class=\"logo\" title=\"Mod DB Home\"></a>\r\n\r\n \t\t \r\n\t\t<ul class=\"tabs\">\r\n\t\t\t
        \r\n\t\t\t<li class=\"on\"><a href=\"/\">HOME</a></li>\r\n\t\t\t \r\n\t\t\t<li><a
        href=\"/today\" title=\"New today\">Today</a></li>\r\n\t\t\t<li><a href=\"/week\"
        title=\"New this week\">Week</a></li>\r\n\t\t\t<li><a href=\"/month\" title=\"New
        this month\">Month</a></li>\r\n\t\t</ul>\r\n\t</div>\r\n\t<div id=\"subheader\">\r\n\t\t<nav><ul
        class=\"tabs\">\r\n\t\t\t<li class=\"firsttab\"><a href=\"/games\">games</a>\r\n\t\t\t\t<ul>\r\n\t\t\t\t\t<li><a
        href=\"/games/top\">popular</a></li>\r\n\t\t\t\t\t<li><a href=\"/games/latest\">latest</a></li>\r\n\t\t\t\t\t<li><a
        href=\"https://www.indiedb.com\">indies</a></li>\r\n\t\t\t\t\t<li><a href=\"https://modularity.games\">publishing</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/games/add\">add game</a></li>\r\n\t\t\t\t\t\t\t\t\t</ul>\r\n\t\t\t</li>\r\n\t\t\t<li[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/dreamhack-activities
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>DreamHack
        Activities group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"dreamhack activities, event, groups, events, company,
        club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/indie-game-contest-strasbourg-2016
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Indie Game
        Contest Strasbourg 2016 group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"indie game contest strasbourg 2016,
        event, groups, events, company, club, community, programmers, artists\" />\r\n\t<[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/custom-night
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Custom
        Night group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"custom night, event, groups, events, company,
        club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"Here is the group wher[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/2013-mod-of-the-year-awards
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Competition
        - 2013 Mod of the Year Awards - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"home, 2013 mod of the year awards,
        event, groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
  [...]
