interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/editors/news/d2multires
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>D2MultiRes
        news - Editor's Notes - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"editors notes, d2multires, articles,
        information, data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"description\"
        content=\"Diablo 2 in a higher resolution? Yes its true, and yes it rocks!\"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\"
        content=\"D2Mu[...]
[...]
