interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/polls/if-you-had-to-choose-which-feature-would-you-like-implemented-the-most
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>If you
        had to choose, which feature would you like implemented the most? - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"if you had
        to choose which feature would you like implemented the most, poll, opinion,
        vote, select, elect, survey, question, discussion\" />\r\n\t<meta name=\"description\"
        content=\"View the Mod DB  poll If you had to choose, which feature would
        you like implemented the most?\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
       [...]
[...]
