interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/the-consequence-of-infection/news/small-mod-progress-update-1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Small Mod
        Progress Update #1 news - The Consequence of Infection mod for Half-Life -
        Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"the consequence of infection mod for half life, small mod progress
        update 1, articles, information, data, gossip, feature, read, view, discuss\"
        />\r\n\t<meta name=\"description\" content=\"Hello Everyone, it's been a while!
        We are still working hard on here on the mod, we hope that we will be able
        to reach our goal of releasing a public demo as we have a lot of things planned
        beforeh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/project-zer0/news/new-intro-wip
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>New intro
        wip news - Project Zer0(hiatus) mod for Portal 2 - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"project zer0hiatus
        mod for portal 2, new intro wip, articles, information, data, gossip, feature,
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/news/the-challenge-of-adblock
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The challenge
        of Adblock news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"the challenge of adblock, articles, information,
        data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"description\"
        con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/editors/news/d2multires
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>D2MultiRes
        news - Editor's Notes - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"editors notes, d2multires, articles,
        information, data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"description\"
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/news/dungeon-siege-skinning-contest
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Dungeon
        Siege Skinning Contest news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"dungeon siege skinning contest, articles,
        information, data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"descrip[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/neon-knigh/tutorials/neon-knight-manual
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Neon Knight
        Manual tutorial - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"neon knigh vengeance from the grave, neon knight
        manual, articles, information, data, gossip, feature, read, view, discuss\"
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fear/tutorials/alma1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Alma? tutorial
        - F.E.A.R. - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"fear, alma, articles, information, data, gossip,
        feature, read, view, discuss\" />\r\n\t<meta name=\"description\" content=\"In
        this tutori[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/katharsis/news/katharsis-devlog-11
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Katharsis
        - Devlog #1 - news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"katharsis, katharsis devlog 1, articles, information,
        data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"descriptio[...]
