interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/hidden-source/downloads/hidden-source-beta-4b
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Hidden
        Source Beta 4b file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"hidden source mod for half life 2, hidden source
        beta 4b, full, version, downloads, files, demos, servers, patches, installer,
        trailers, movies, wallpaper, development tools, applications, media, modelling,
        mapping, development, ide, sdk, guides\" />\r\n\t<meta name=\"description\"
        content=\"This is a full installer for Beta 4b of Hidden Source - it introduces
        a new map, hdn_decay and[...]
