interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/third-age-total-war
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Third Age
        - Total War mod - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"third age total war mod, medieval ii total war
        kingdoms, total conversion, addon, development, indie, extension, creation,
        episode, chapter, expansion pack, single, multiplayer, war, real, time, strategy\"
        />\r\n\t<meta name=\"description\" content=\"Third Age - Total War is a total
        conversion for 'Medieval II: Total War - Kingdoms Expansion' that brings you
        into the world of Middle-e[...]
