interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/kinecttovr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>KinectToVR
        Windows, VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"kinecttovr, windows, vr, vr, virtual
        reality, augmented reality, software, architecture, retail, tours, social
        networking, sdk, educational, medical, environment, maps, simulation, editing,
        capture, recording, developers, creation\" />\r\n\t<meta name=\"description\"
        content=\"An open-source hook for VRInputEmulator to enable foot and hip tracking
        with the Kinect V1 and V2. It current[...]
[...]
