interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/pokemon-generations/downloads/pokegen-v2-launcher
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>PokeGen
        v.2 - Launcher file - Pok\xE9mon: Generations - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"pokmon generations, pokegen v2 launcher,
        demo, downloads, files, demos, servers, patches, installer, trailers, movies,
        wallpaper, development tools, applications, media, modelling, mapping, development,
        ide, sdk, guides\" />\r\n\t<meta name=\"description\" content=\"This here
        is the launcher for PokeGen. All future updates will be available through
        this .exe.   For a full guide on usi[...]
