interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/car-chase-simulator
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Car Chase
        Simulator Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"car chase simulator, windows, single,
        player, movie, indie, car, combat, video game, indie game, standalone game,
        developers, creation, expansion pack\" />\r\n\t<meta name=\"description\"
        content=\"Car Chase simulator is an action driving game based of from car
        chase scenes from old (and some new ones too) movies or shows for PC and Android.\"
        />\r\n\t<meta name=\"robots\" content=\"m[...]
