interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/platforms/vr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>VR platform
        - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"vr, platforms, view\" />\r\n\t<meta name=\"description\" content=\"VR
        encompasses many SDKs and hardware. The resurgence began in 2012 with Oculus,
        but today includes products from Google (Cardboard), Valve (HTC Vive), Samsung
        (Gear VR), Sony (Project Morpheus) and many others. \" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"[...]
