interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/tanks
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Tank Lovers
        Group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"tank lovers group, hobbies, interests, groups, events, company,
        club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"This group is for everyone who like tanks, sci-fi tanks, real tanks,
        funny tanks, you can put here tank mods, tank maps, simply everything with
        straps, armor and gun :D\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        /[...]
