interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/2d-top-down-shooter-artistanimator
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>2D Top
        down shooter artist/animator job - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"2d top down shooter artistanimator,
        anywhere, artists, jobs, vacancies, help wanted, recruit, resume, staff, hire,
        employement, career, industry, position, wage, salary, tutition\" />\r\n\t<meta
        name=\"description\" content=\"View the job 2D Top down shooter artist/animator
        in Anywhere\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_[...]
