interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/virtual-desktop
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Virtual
        Desktop Windows, VR software - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"virtual desktop, windows, vr, vr,
        virtual reality, augmented reality, software, architecture, retail, tours,
        social networking, sdk, educational, medical, environment, maps, simulation,
        editing, capture, recording, developers, creation\" />\r\n\t<meta name=\"description\"
        content=\"An application developed for the Oculus Rift and HTC Vive that let's
        you use your computer in VR. You ca[...]
