interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/htc-vive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>HTC Vive
        hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"htc vive, windows, mac, linux, vr, headset, virtual
        reality, augmented reality, hardware, headsets, haptics, controllers, input,
        keyboard, handheld, feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Vive is brought to you by HTC and Valve. Uniting passion, talent,
        and innovation, Vive delivers on the promise of VR with best-in-class technology
        and con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/jaunt-vr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Jaunt VR
        hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"jaunt vr, vr, video, virtual reality, augmented
        reality, hardware, headsets, haptics, controllers, input, keyboard, handheld,
        feedback, developers, creation[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/the-free-space-omni
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The Free
        Space Omni hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"the free space omni, vr, sound, virtual reality,
        augmented reality, hardware, headsets, haptics, controllers, input, keyboard,
        handhel[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/sprintr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SprintR
        hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"sprintr, vr, controller, virtual reality, augmented
        reality, hardware, headsets, haptics, controllers, input, keyboard, handheld,
        feedback, developers, creati[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/osvr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>OSVR hardware
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"osvr, windows, mac, linux, vr, android, headset, virtual reality,
        augmented reality, hardware, headsets, haptics, controllers, input, keyboard,
        handheld, feedback, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/oculus-rift
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Oculus
        Rift hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"oculus rift, windows, mac, linux, vr, headset,
        virtual reality, augmented reality, hardware, headsets, haptics, controllers,
        input, keyboard, handheld[...]
