interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/draignet
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>DraigNET
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"draignet, developer, publisher, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"DraigNET
        is a private limited company set up primarily as a website designer and community
        host specialising in the home-grown gaming industry.\" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" cont[...]
[...]
