interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/geovisionary
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>GeoVisionary
        VR software - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"geovisionary, vr, vr, virtual reality, augmented
        reality, software, architecture, retail, tours, social networking, sdk, educational,
        medical, environment, maps, simulation, editing, capture, recording, developers,
        creation\" />\r\n\t<meta name=\"description\" content=\"GeoVisionary was developed
        by Virtalis in collaboration with the British Geological Survey as specialist
        software fo[...]
