interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/zombie-treat
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Zombie
        Treat Windows, Mac, Linux, Web, iOS, Android game - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"zombie treat,
        windows, mac, linux, web, ios, android, single, player, comedy, indie, arcade,
        video game, indie game, standalone game, developers, creation, expansion pack\"
        />\r\n\t<meta name=\"description\" content=\"A simple casual game built using
        custom game engine.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        propert[...]
