interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/project-neptune-vr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Project
        Neptune VR VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"project neptune vr, vr, vr, virtual
        reality, augmented reality, software, architecture, retail, tours, social
        networking, sdk, educational, medical, environment, maps, simulation, editing,
        capture, recording, developers, creation\" />\r\n\t<meta name=\"description\"
        content=\"Project Neptune VR is the virtual reality demo of our main machine,
        the Project Neptune ARC. In this virtual r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/kinecttovr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>KinectToVR
        Windows, VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"kinecttovr, windows, vr, vr, virtual
        reality, augmented reality, software, architecture, retail, tours, social
        networking, sdk, educational,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/harfang-3d
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Harfang
        3D Windows, Mac, Linux, VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"harfang 3d, windows, mac, linux, vr,
        vr, virtual reality, augmented reality, software, architecture, retail, tours,
        social netwo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/tilt-brush
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Tilt Brush
        Windows, VR, Android, AndroidTab software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"tilt brush, windows, vr, android,
        android tablet, vr, virtual reality, augmented reality, software, architecture,
        retai[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/virtual-desktop
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Virtual
        Desktop Windows, VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"virtual desktop, windows, vr, vr,
        virtual reality, augmented reality, software, architecture, retail, tours,
        social networking, sd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/geovisionary
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>GeoVisionary
        VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"geovisionary, vr, vr, virtual reality, augmented
        reality, software, architecture, retail, tours, social networking, sdk, educational,
        medical, en[...]
