interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/the-free-space-omni
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The Free
        Space Omni hardware - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"the free space omni, vr, sound, virtual reality,
        augmented reality, hardware, headsets, haptics, controllers, input, keyboard,
        handheld, feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Capture Omni-Binaural for 360 video applications. Capture 360 degree
        audio soundscapes from four binaural directions at once!  Create interactive
        audio experiences by[...]
