interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Games and
        mods development for Windows, Linux and Mac - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"pc, games, mods, linux, mac, addons,
        downloads, videos, gallery, development, community, features, reviews, previews,
        tutorials, forums\" />\r\n\t<meta name=\"description\" content=\"Mod DB covers
        game development and modding on Windows, Mac and Linux with downloads of the
        best user generated content.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/polls/why-do-you-mod-games
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Why do
        you mod games? - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"why do you mod games, poll, opinion, vote, select,
        elect, survey, question, discussion\" />\r\n\t<meta name=\"description\" content=\"View
        the [...]
