interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/simmetri
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Simmetri
        engine - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"simmetri, Commercial, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
        />\r\n\t<meta name=\"description\" content=\"Simmetri is a powerful sandbox
        for your imagination. Part game-builder, part sandbox, Simmetri lets you experiment
        and play as you build. It empowers artists, educators, VJs and creatives to
        build[...]
[...]
