interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/members/intense
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>INtense!
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"INtense!, Australia, friends, developer, profile, features, articles,
        modder, gamer, member, user\" />\r\n\t<meta name=\"description\" content=\"I
        am the founder of DBolical and creator of ModDB, IndieDB and SlideDB. My aim
        is to make it easier for gamers to find great games/mods no matter their stage
        of development. And more importantly give game/mod developers a place to share
        their[...]
[...]
