interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/ilty-re-back-to-earth
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>ILTY Re
        : Back to Earth mod - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"ilty re back to earth mod, ilty back to earth,
        total conversion, addon, development, indie, extension, creation, episode,
        chapter, expansion pack, single, player, fighter, fighting\" />\r\n\t<meta
        name=\"description\" content=\"un remake de ILTY Back To Earth pour Android
        (bient\xF4t disponible pour PC Windows)\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n[...]
