interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/axis-allies/addons/simple-vanilla-sai-buff
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Simple
        Vanilla SAI Buff addon - Axis &#038; Allies - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"axis allies, simple vanilla sai buff,
        singleplayer, map, downloads, customize, mods, singleplayer maps, multiplayer
        maps, player skins, weapon skins, player models, gun models, weapon models,
        sounds, audio, music, decals, guis, huds, sprites, sprays, textures\" />\r\n\t<meta
        name=\"description\" content=\"A small, simple addon designed to make the
        AI somewhat more challenging by incre[...]
[...]
