interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/taleworlds
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>TaleWorlds
        Entertainment company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"taleworlds entertainment, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
        />\r\n\t<meta name=\"description\" content=\"TaleWorlds Entertainment is an
        independent video game development company, founded in 2005. Having grown
        from the initial two founders, TaleWorlds now employs an international team
        of over 90 developers, including a self-publishi[...]
[...]
