interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/news/dungeon-siege-skinning-contest
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Dungeon
        Siege Skinning Contest news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"dungeon siege skinning contest, articles,
        information, data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"description\"
        content=\"SiegeWorks.Org is hosting it\u2019s first Dungeon Siege Character
        Re-Skinning Contest. Prizes include some cool Dungeon Siege items which will
        be revealed after entries close. Submit your completed entries to All entries
        will be judged accord[...]
[...]
