interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/shmup-creator
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SHMUP Creator
        engine - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"shmup creator, Commercial, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
        />\r\n\t<meta name=\"description\" content=\"The Shmup Creator is a tool that
        will help you create your own shoot'em up and easily build your levels without
        coding at all!\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
    [...]
