interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/half-life
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Half-Life
        Windows, Mac, Linux, PS2 game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"half life, windows, mac, linux, playstation
        2, single, multiplayer, sci, fi, aaa, first, person, shooter, video game,
        indie game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description\" content=\"Named Game of the Year by over 50 publications,
        Valve's d\xE9but title blends action and adventure with award-winning technology
        to create a frighteningly r[...]
