interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/sudoku-e-sport-world-cup-2017/addons/collector-files
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Collector
        files addon - Sudoku e-Sport World Cup 2017 - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"sudoku e sport world cup 2017, collector
        files, music, downloads, customize, mods, singleplayer maps, multiplayer maps,
        player skins, weapon skins, player models, gun models, weapon models, sounds,
        audio, music, decals, guis, huds, sprites, sprays, textures\" />\r\n\t<meta
        name=\"description\" content=\"Le collector contient: la solution compl\xE8te
        du jeu, l'OST du jeu (8 titres) et [...]
[...]
