interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/third-age-total-war/downloads/third-age-total-war-30-part-1of2
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Third Age
        - Total War 3.0 Part 1of2 file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"third age total war mod for medieval
        ii total war kingdoms, third age total war 30 part 1of2, full, version, downloads,
        files, demos, servers, patches, installer, trailers, movies, wallpaper, development
        tools, applications, media, modelling, mapping, development, ide, sdk, guides\"
        />\r\n\t<meta name=\"description\" content=\"3.0 (Part1) Download. Click on
        read more to see the full c[...]
[...]
