interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/wallace2anjos
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>wallace2anjos
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"wallace2anjos, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"This
        is my hobby. You can choose the next mod, just send me a message on my profile
        or on my channel on youtube .. : DD\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"2101343456720[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/valve
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Valve company
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"valve, developer, publisher, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"Valve
        the company behind [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/draignet
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>DraigNET
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"draignet, developer, publisher, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"DraigNET
        is a pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/left-4-dead-mods
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Left 4
        Dead Mods company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"left 4 dead mods, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/taleworlds
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>TaleWorlds
        Entertainment company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"taleworlds entertainment, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
        />\r\n\t<meta name=\"descri[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/belaruso500
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>belaruso500
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"belaruso500, developer, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"A developer
        of adv[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/v1-infinity
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>V1 Infinity
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"v1 infinity, developer, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"A small
        Indy team [...]
