interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/katharsis/news/katharsis-devlog-11
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Katharsis
        - Devlog #1 - news - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"katharsis, katharsis devlog 1, articles, information,
        data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"description\"
        content=\"The love child of an RTS, a Survival game and an Adventure game,
        Kathars places the player in the role of Arka, an emergency AI tasked with
        the mission of protecting a group of survivors on a mysterious alien planet.\"
        />\r\n\t<meta name=\"rob[...]
