interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II Windows game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for middle earth ii, windows,
        single, multiplayer, fantasy, aaa, real, time, strategy, video game, indie
        game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description\" content=\"Wage war in the North and assume command of
        the most storied civilizations in all of Middle-earth history - the Elven
        and Dwarven armies - or fight on the side of Evil [...]
