interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/panoramical/images/screenshot2
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Screenshot
        image - Panoramical - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"panoramical, screenshot, image, screenshots, screens,
        picture, photo, render, concept, art, in-game\" />\r\n\t<meta name=\"description\"
        content=\"View the Mod DB Panoramical image Screenshot\" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Screenshot image - Panora[...]
