interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fated-kingdom
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Fated Kingdom
        Windows game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"fated kingdom, windows, multiplayer, co, op, fantasy,
        indie, role, playing, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"Fated
        Kingdom is a digital board game set in dark fantasy world with online co-op
        for 4 players.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta propert[...]
