interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/minecraft
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Minecraft
        Windows, Mac, Linux, VR, AR, Web, iOS, iPad, Android, X360, PS4, PS3, VITA
        game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"minecraft, windows, mac, linux, vr, ar, web, ios, ipad, android,
        xbox 360, playstation 4, playstation 3, playstation vita, single, multiplayer,
        fighter, indie, adventure, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"Minecraft
        is a first-person fighter/sandbox construction game created by Mojang AB.\"
        />\r\[...]
