interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/harfang-3d
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Harfang
        3D Windows, Mac, Linux, VR software - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"harfang 3d, windows, mac, linux, vr,
        vr, virtual reality, augmented reality, software, architecture, retail, tours,
        social networking, sdk, educational, medical, environment, maps, simulation,
        editing, capture, recording, developers, creation\" />\r\n\t<meta name=\"description\"
        content=\"Harfang is a high-end package to create 3D or 2D applications. It
        provides a comprehensive API, i[...]
