interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/the-horse-lords-a-total-modification-for-bfme
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Age of
        the Ring mod for Battle for Middle-earth II: Rise of the Witch King - Mod
        DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"age of the ring mod, battle for middle earth ii rise of the witch
        king, total conversion, addon, development, indie, extension, creation, episode,
        chapter, expansion pack, single, multiplayer, co, op, fantasy, real, time,
        strategy\" />\r\n\t<meta name=\"description\" content=\"New factions, new
        heroes, new maps, new spells, a brand-new campaign and expanded War of the
        Ring. Delve deeper into Middle-earth than ever before.\" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Age of the Ring mod for Battle for Middle-earth
        II: Rise of the Witch King\" />\r\n\t<meta property=\"og:description\" content=\"New
        factions, new heroes, new maps, new spells, a brand-new campaign and expanded
        War of the Ring. Delve deeper into Middle-earth than ever before.\" />\r\n\t<meta
        property=\"og:site_name\" content=\"Mod DB\" />\r\n\t<meta property=\"og:type\"
        content=\"game\" /> \r\n\t<meta property=\"og:url\" content=\"https://www.moddb.com/mods/the-horse-lords-a-total-modification-for-bfme\"
        /> \r\n\t<meta property=\"og:image\" content=\"https://media.moddb.com/images/mods/1/23/22582/aotr_moddb_image_new.png\"
        /> \r\n\t \r\n\t<meta property=\"twitter:card\" content=\"summary_large_image\"
        />\r\n\t<meta property=\"twitter:site\" content=\"@moddb\" />\r\n\t<meta property=\"twitter:title\"
        content=\"Age of the Ring mod for Battle for Middle-earth II: Rise of the
        Witch King\" />\r\n\t<meta property=\"twitter:description\" content=\"New
        factions, new heroes, new maps, new spells, a brand-new campaign and expanded
        War of the Ring. Delve deeper into Middle-earth than ever before.\" />\r\n\t<meta
        property=\"twitter:url\" content=\"https://www.moddb.com/mods/the-horse-lords-a-total-modification-for-bfme\"
        /> \r\n\t<meta property=\"twitter:image\" content=\"https://media.moddb.com/images/mods/1/23/22582/aotr_moddb_image_new.png\"
        /> \r\n\t<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"https://static.moddb.com/html/external/min/index.php?g=css&amp;73\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.ico\" type=\"image/x-icon\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.png\" type=\"image/png\"
        sizes=\"96x96\" />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon-192x192.png\"
        type=\"image/png\" sizes=\"192x192\" />\r\n\t<link rel=\"apple-touch-icon\"
        href=\"https://www.moddb.com/apple-touch-icon.png\" sizes=\"180x180\" />\r\n\t<link
        rel=\"alternate\" href=\"https://rss.moddb.com/mods/the-horse-lords-a-total-modification-for-bfme/articles/feed/rss.xml\"
        type=\"application/rss+xml\" title=\"Age of the Ring mod for Battle for Middle-earth
        II: Rise of the Witch King feed\" />\t<script src=\"https://static.moddb.com/html/external/min/index.php?g=jquery&amp;1\"></script><script>\r\n\t\t!function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g,function(e){return(e^(window.crypto||window.msCrypto).getRandomValues(new
        Uint8Array(1))[0]&15>>e/4).toString(16)})};e.config=i||{},e.config.apiKey=o,e.config.workspaceId=n,e.config.environment=e.config.environment||\"production\",(window.crypto||window.msCrypto)&&(e.config.viewId=t());for(var
        g=[\"addon\",\"identify\",\"track\",\"trigger\",\"query\",\"segment\",\"segments\",\"ready\",\"on\",\"once\",\"user\",\"consent\"],r=0;r<g.length;r++){var
        w=g[r];e[w]=function(o){return function(){var n=Array.prototype.slice.call(arguments,0);e.q.push({functionName:o,arguments:n})}}(w)}}}(window.permutive,\"394f5b6d-4224-4a63-9ca8-964c7ebc364e\",\"0f73e92f-4074-4fe3-85d3-ed3fc969859e\",{\"consentRequired\":
        true});\r\n\t\twindow.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting(\"permutive\").length){var
        e=window.localStorage.getItem(\"_pdfps\");window.googletag.pubads().setTargeting(\"permutive\",e?JSON.parse(e):[]);var
        o=window.localStorage.getItem(\"permutive-id\");o&&(window.googletag.pubads().setTargeting(\"puid\",o),window.googletag.pubads().setTargeting(\"ptime\",Date.now().toString())),window.permutive.config.viewId&&window.googletag.pubads().setTargeting(\"prmtvvid\",window.permutive.config.viewId),window.permutive.config.workspaceId&&window.googletag.pubads().setTargeting(\"prmtvwid\",window.permutive.config.workspaceId)}});\r\n\t\t\r\n\t\tpermutive.addon(\"web\",{\r\n\t\t\"page\":
        {\r\n\t\t\t\"user\":{\"logged_in\":false,\"subscriber\":false},\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\"companies\":[\"Age
        of the Ring Development Team\"],\r\n\t\t\t\t\r\n\t\t\t\"themes\":[\"Single
        Player\",\"Multiplayer\"],\t\r\n\t\t\t\"video_games\":[{\"genres\":[\"Fantasy\",\"Strategy\"],\"name\":
        \"Battle for Middle-earth II: Rise of the Witch King\",\"platforms\":[\"PC\"]}],\r\n\t\t\t\r\n\t\t\t\"classifications_watson\":
        {\r\n\t\t\t\"categories\": \"$alchemy_taxonomy\",\r\n\t\t\t\"keywords\": \"$alchemy_keywords\"
        }\r\n\t\t}});\r\n\t\t</script>\r\n\t\t<script async src=\"https://0f73e92f-4074-4fe3-85d3-ed3fc969859e.edge.permutive.app/0f73e92f-4074-4fe3-85d3-ed3fc969859e-web.js\"></script>\r\n</head>\r\n<body>\r\n\r\n<div
        id=\"body\">\r\n<div class=\"container\">\r\n\t<header><div id=\"header\">\r\n\t\t<div
        id=\"searchbox\">\r\n\t\t\t \r\n\t\t\t<span class=\"guest\">Hello guest <a
        href=\"/members/register\">register</a> or <a href=\"/members/login\" id=\"togglelogin\">sign
        in</a></span><span class=\"arrow\">&nbsp;</span>\r\n\t\t\t<form action=\"https://www.moddb.com/search\"
        class=\"search\" method=\"get\"><input type=\"text\" name=\"q\" maxlength=\"500\"
        value=\"\" id=\"sitesearch\" class=\"text\" placeholder=\"Search\"  /><input
        type=\"image\" name=\"sa\" value=\"Search\" src=\"https://static.moddb.com/cutoff/images/default/btn_search_box.png\"
        class=\"button\" alt=\"Search Mod DB\" title=\"Search Mod DB\"  /></form>\t\t\t
        \r\n\t\t\t<form action=\"https://www.moddb.com/members/login\" method=\"post\"
        name=\"memberform\" class=\"login\"><input type=\"hidden\" name=\"referer\"
        value=\"/mods/the-horse-lords-a-total-modification-for-bfme/\" /><input type=\"hidden\"
        name=\"rememberme\" value=\"1\" /><input type=\"hidden\" name=\"members\"
        value=\"1\" /><span class=\"cdebeddfdcfceedformouter\"><span><span><span><span><span
        class=\"cdebeddfdcfceedforminner\"><input type=\"text\" name=\"IyNiYmE5M2ZlYWMyZDhlNmNjNTcxYWQ4MWY2Y2VkMTNmYTQ0NDI1MTU3NTRib3RjYXRjaGVy\"
        maxlength=\"500\" placeholder=\"Username\" class=\"text\" autocomplete=\"off\"
        \ /></span></span></span></span></span></span><span class=\"cdebeddfdcfceedformouter\"><span><span><span
        class=\"cdebeddfdcfceedforminner\"><input type=\"text\" name=\"IyNiYmE5M2ZlYWMyZDhlNmNjNTcxYWQ4MWY2Y2VkMTNmYTQyNDA4MzEzMjl1c2VybmFtZQ:E::E:\"
        maxlength=\"500\" value=\"\" placeholder=\"Username\" class=\"text\" autocomplete=\"off\"
        \ /></span></span></span></span><style> span.cdebeddfdcfceedformouter span
        span span span span { display: none; } span.cdebeddfdcfceedformouter { display:
        inline; }</style>\n<input type=\"password\" name=\"password\" maxlength=\"100\"
        placeholder=\"Password\" class=\"text password\" autocomplete=\"off\"  /><input
        type=\"submit\" name=\"members\" value=\"GO\" class=\"button\" title=\"Sign
        In\"  /></form>\t\t\t<span class=\"login\" style=\"display: none;\">or with:
        <a href=\"/members/loginext/steam\" class=\"steamiconsml\" style=\"float:
        right; margin: 3px 1px 0 4px;\" title=\"Click to connect via Steam\"></a><a
        href=\"/members/loginext/google\" class=\"googleiconsml\" style=\"float: right;
        margin: 3px 1px 0 4px;\" title=\"Click to connect via Google\"></a><a href=\"/members/loginext/twitter\"
        class=\"twittericonsml\" style=\"float: right; margin: 3px 1px 0 4px;\" title=\"Click
        to connect via Twitter\"></a><a href=\"/members/loginext/facebook\" class=\"facebookiconsml\"
        style=\"float: right; margin: 3px 1px 0 4px;\" title=\"Click to connect via
        Facebook\"></a></span>\r\n\t\t\t \r\n\t\t</div>\r\n\r\n\t\t<h1>Age of the
        Ring mod for Battle for Middle-earth II: Rise of the Witch King</h1>\r\n\t\t<a
        href=\"/\" class=\"logo\" title=\"Mod DB Home\"></a>\r\n\r\n \t\t \r\n\t\t<ul
        class=\"tabs\">\r\n\t\t\t \r\n\t\t\t<li class=\"on\"><a href=\"/\">HOME</a></li>\r\n\t\t\t
        \r\n\t\t\t<li><a href=\"/today\" title=\"New today\">Today</a></li>\r\n\t\t\t<li><a
        href=\"/week\" title=\"New this week\">Week</a></li>\r\n\t\t\t<li><a href=\"/month\"
        title=\"New this month\">Month</a></li>\r\n\t\t</ul>\r\n\t</div>\r\n\t<div
        id=\"subheader\">\r\n\t\t<nav><ul class=\"tabs\">\r\n\t\t\t<li class=\"firsttab\"><a
        href=\"/games\">games</a>\r\n\t\t\t\t<ul>\r\n\t\t\t\t\t<li><a href=\"/games/top\">popular</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/games/latest\">latest</a></li>\r\n\t\t\t\t\t<li><a href=\"https://www.indiedb.com\">indies</a></li>\r\n\t\t\t\t\t<li><a
        href=\"https://modularity.games\">publishing</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/games/add\">add game</a></li>\r\n\t\t\t\t\t\t\t\t\t</ul>\r\n\t\t\t</li>\r\n\t\t\t<li
   [...]
