interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SAGE (Strategy
        Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"sage strategy action game engine, Proprietary,
        video game engine, indie game, 3d, render, builder, tool, graphics, networking,
        make game, kit game, develop, application\" />\r\n\t<meta name=\"description\"
        content=\"The SAGE engine is a game engine used by Westwood Studios and Electronic
        Arts for real-time strategy games.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/source
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Source
        engine - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"source, Commercial, video game engine, indie game, 3d, render, builder,
        tool, graphics, networking, make game, kit game, develop, application\" />\r\n\t<meta
        name=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/cryengine-3
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>CryENGINE
        3 - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"cryengine 3, Commercial, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
        />\r\n\t<me[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/unity
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Unity engine
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"unity, Commercial, video game engine, indie game, 3d, render, builder,
        tool, graphics, networking, make game, kit game, develop, application\" />\r\n\t<meta
        name=\"d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/simmetri
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Simmetri
        engine - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"simmetri, Commercial, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
        />\r\n\t<meta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/limon-engine
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Limon Engine
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"limon engine, L-GPL, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
        />\r\n\t<meta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/unknown
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Unknown
        engine - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"unknown, Commercial, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
        />\r\n\t<meta na[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/shmup-creator
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SHMUP Creator
        engine - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"shmup creator, Commercial, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
      [...]
[...]
