interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/left-4-dead-mods
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Left 4
        Dead Mods company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"left 4 dead mods, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"Left 4 Dead Mods (www.l4dmods.com) is a community dedicated to the
        support and development of custom content for Valve's Left 4 Dead. L4DMods.com
        promises to host quality custom content and reviews for each mod/map/skin/script/sound
        pack[...]
