interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc-generals-zero-hour/addons/usa-challenge
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>USA Challenge
        addon - C&#038;C: Generals Zero Hour - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"cc generals zero hour, usa challenge,
        singleplayer, map, downloads, customize, mods, singleplayer maps, multiplayer
        maps, player skins, weapon skins, player models, gun models, weapon models,
        sounds, audio, music, decals, guis, huds, sprites, sprays, textures\" />\r\n\t<meta
        name=\"description\" content=\"Challenge the regular us army. The opponent
        is not easy\" />\r\n\t<meta name=\"r[...]
