interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/call-of-chernobyl/addons/doctorx-dynamic-faction-relations
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>DoctorX
        Dynamic Faction Relations 1.8  [1.4.22] addon - S.T.A.L.K.E.R.: Call of Chernobyl
        mod for S.T.A.L.K.E.R.: Call of Pripyat - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"stalker call of chernobyl mod for
        stalker call of pripyat, doctorx dynamic faction relations 18 1422, prefab,
        downloads, customize, mods, singleplayer maps, multiplayer maps, player skins,
        weapon skins, player models, gun models, weapon models, sounds, audio, music,
        decals, guis, huds, sprites, sprays, textures\" />\r\n\t<meta name=\"description\"
        content=\"Politics can be tricky in t[...]
