interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/programmer-enviro-artist-audio-specialist-needed-to-expand-our-launched-game
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Programmer,
        enviro artist, audio specialist needed to expand our launched game job - Mod
        DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"programmer enviro artist audio specialist needed to expand our launched
        game, anywhere, artists, jobs, vacancies, help wanted, recruit, resume, staff,
        hire, employement, career, industry, position, wage, salary, tutition\" />\r\n\t<meta
        name=\"description\" content=\"View the job Programmer, enviro artist, audio
        specialist needed to expand our launched game in Anywhere\" />\r\n\t<meta
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/looking-for-3d-modeller-for-fast-past-shooting-game1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Looking
        for 3D Modeller for fast past shooting game job - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"looking for
        3d modeller for fast past shooting game, anywhere, artists, jobs, vacancie[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/revshareroyalty-3d-character-artist
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>[Revshare/Royalty]
        3D Character Artist job - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"revshareroyalty 3d character artist,
        north america south america, artists, jobs, vacancies, help wanted, recruit,
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/seeking-2d-uiux-artist-3d-weapon-modler-character-animator
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Seeking
        2D UI/UX artist &#038; 3D weapon modler, character animator job - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"seeking 2d
        uiux artist 3d weapon modler character animator, anyw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/2d-top-down-shooter-artistanimator
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>2D Top
        down shooter artist/animator job - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"2d top down shooter artistanimator,
        anywhere, artists, jobs, vacancies, help wanted, recruit, resume, staff, hire,
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/player-modeler-modeler1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Player
        Modeler / Modeler job - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"player modeler modeler, anywhere,
        artists, jobs, vacancies, help wanted, recruit, resume, staff, hire, employement,
        career, industry, [...]
