interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/platforms/pc
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Windows
        platform - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"windows, platforms, view\" />\r\n\t<meta name=\"description\"
        content=\"Microsoft Windows is a series of operating systems produced by Microsoft.\"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\"
        content=\"Windows platform\" />\r\n\t<meta property=\"og:description\" content=\"Microsoft
        Windows is a series of operating systems produced by Microsoft.\" />\r\n\t<meta
        property=\"og:site_name\" content=\"Mod DB\" />\r\n\t<meta property=\"og:type\"
        content=\"product\" /> \r\n\t \r\n\t \r\n\t \r\n\t<meta property=\"twitter:card\"
        content=\"summary\" />\r\n\t<meta property=\"twitter:site\" content=\"@moddb\"
        />\r\n\t<meta property=\"twitter:title\" content=\"Windows platform\" />\r\n\t<meta
        property=\"twitter:description\" content=\"Microsoft Windows is a series of
        operating systems produced by Microsoft.\" />\r\n\t \r\n\t \r\n\t<link rel=\"stylesheet\"
        type=\"text/css\" media=\"all\" href=\"https://static.moddb.com/html/external/min/index.php?g=css&amp;73\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.ico\" type=\"image/x-icon\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.png\" type=\"image/png\"
        sizes=\"96x96\" />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon-192x192.png\"
        type=\"image/png\" sizes=\"192x192\" />\r\n\t<link rel=\"apple-touch-icon\"
        href=\"https://www.moddb.com/apple-touch-icon.png\" sizes=\"180x180\" />\r\n\t\t<script>\r\n\t\t!function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g,function(e){return(e^(window.crypto||window.msCrypto).getRandomValues(new
        Uint8Array(1))[0]&15>>e/4).toString(16)})};e.config=i||{},e.config.apiKey=o,e.config.workspaceId=n,e.config.environment=e.config.environment||\"production\",(window.crypto||window.msCrypto)&&(e.config.viewId=t());for(var
        g=[\"addon\",\"identify\",\"track\",\"trigger\",\"query\",\"segment\",\"segments\",\"ready\",\"on\",\"once\",\"user\",\"consent\"],r=0;r<g.length;r++){var
        w=g[r];e[w]=function(o){return function(){var n=Array.prototype.slice.call(arguments,0);e.q.push({functionName:o,arguments:n})}}(w)}}}(window.permutive,\"394f5b6d-4224-4a63-9ca8-964c7ebc364e\",\"0f73e92f-4074-4fe3-85d3-ed3fc969859e\",{\"consentRequired\":
        true});\r\n\t\twindow.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting(\"permutive\").length){var
        e=window.localStorage.getItem(\"_pdfps\");window.googletag.pubads().setTargeting(\"permutive\",e?JSON.parse(e):[]);var
        o=window.localStorage.getItem(\"permutive-id\");o&&(window.googletag.pubads().setTargeting(\"puid\",o),window.googletag.pubads().setTargeting(\"ptime\",Date.now().toString())),window.permutive.config.viewId&&window.googletag.pubads().setTargeting(\"prmtvvid\",window.permutive.config.viewId),window.permutive.config.workspaceId&&window.googletag.pubads().setTargeting(\"prmtvwid\",window.permutive.config.workspaceId)}});\r\n\t\t\r\n\t\tpermutive.addon(\"web\",{\r\n\t\t\"page\":
        {\r\n\t\t\t\"user\":{\"logged_in\":false,\"subscriber\":false},\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\"classifications_watson\":
        {\r\n\t\t\t\"categories\": \"$alchemy_taxonomy\",\r\n\t\t\t\"keywords\": \"$alchemy_keywords\"
        }\r\n\t\t}});\r\n\t\t</script>\r\n\t\t<script async src=\"https://0f73e92f-4074-4fe3-85d3-ed3fc969859e.edge.permutive.app/0f73e92f-4074-4fe3-85d3-ed3fc969859e-web.js\"></script>\r\n</head>\r\n<body>\r\n\r\n<div
        id=\"body\">\r\n<div class=\"container\">\r\n\t<header><div id=\"header\">\r\n\t\t<div
        id=\"searchbox\">\r\n\t\t\t \r\n\t\t\t<span class=\"guest\">Hello guest <a
        href=\"/members/register\">register</a> or <a href=\"/members/login\" id=\"togglelogin\">sign
        in</a></span><span class=\"arrow\">&nbsp;</span>\r\n\t\t\t<form action=\"https://www.moddb.com/search\"
        class=\"search\" method=\"get\"><input type=\"text\" name=\"q\" maxlength=\"500\"
        value=\"\" id=\"sitesearch\" class=\"text\" placeholder=\"Search\"  /><input
        type=\"image\" name=\"sa\" value=\"Search\" src=\"https://static.moddb.com/cutoff/images/default/btn_search_box.png\"
        class=\"button\" alt=\"Search Mod DB\" title=\"Search Mod DB\"  /></form>\t\t\t
        \r\n\t\t\t<form action=\"https://www.moddb.com/members/login\" method=\"post\"
        name=\"memberform\" class=\"login\"><input type=\"hidden\" name=\"referer\"
        value=\"/platforms/pc/\" /><input type=\"hidden\" name=\"rememberme\" value=\"1\"
        /><input type=\"hidden\" name=\"members\" value=\"1\" /><span class=\"dfdfedbeformouter\"><span><span><span><span><span
        class=\"dfdfedbeforminner\"><input type=\"text\" name=\"IyM1MDhmMjA5NmRkMjU4OTI5NDZjYmE1OTYwNWJjNTYyZDQzODE4Nzk2MjR1c2VybmFtZQ:E::E:\"
        maxlength=\"500\" value=\"\" placeholder=\"Username\" class=\"text\" autocomplete=\"off\"
        \ /></span></span></span></span></span></span><span class=\"dfdfedbeformouter\"><span><span><span
        class=\"dfdfedbeforminner\"><input type=\"text\" name=\"IyM1MDhmMjA5NmRkMjU4OTI5NDZjYmE1OTYwNWJjNTYyZDkzMzkxOTM3MjVib3RjYXRjaGVy\"
        maxlength=\"500\" placeholder=\"Username\" class=\"text\" autocomplete=\"off\"
        \ /></span></span></span></span><style> span.dfdfedbeformouter span span span.dfdfedbeforminner
        { display: none; } span.dfdfedbeformouter span span span span span.dfdfedbeforminner
        { display: inline; }</style>\n<input type=\"password\" name=\"password\" maxlength=\"100\"
        placeholder=\"Password\" class=\"text password\" autocomplete=\"off\"  /><input
        type=\"submit\" name=\"members\" value=\"GO\" class=\"button\" title=\"Sign
        In\"  /></form>\t\t\t<span class=\"login\" style=\"display: none;\">or with:
        <a href=\"/members/loginext/steam\" class=\"steamiconsml\" style=\"float:
        right; margin: 3px 1px 0 4px;\" title=\"Click to connect via Steam\"></a><a
        href=\"/members/loginext/google\" class=\"googleiconsml\" style=\"float: right;
        margin: 3px 1px 0 4px;\" title=\"Click to connect via Google\"></a><a href=\"/members/loginext/twitter\"
        class=\"twittericonsml\" style=\"float: right; margin: 3px 1px 0 4px;\" title=\"Click
        to connect via Twitter\"></a><a href=\"/members/loginext/facebook\" class=\"facebookiconsml\"
        style=\"float: right; margin: 3px 1px 0 4px;\" title=\"Click to connect via
        Facebook\"></a></span>\r\n\t\t\t \r\n\t\t</div>\r\n\r\n\t\t<h1>Windows platform</h1>\r\n\t\t<a
        href=\"/\" class=\"logo\" title=\"Mod DB Home\"></a>\r\n\r\n \t\t \r\n\t\t<ul
        class=\"tabs\">\r\n\t\t\t \r\n\t\t\t<li class=\"on\"><a href=\"/\">HOME</a></li>\r\n\t\t\t
        \r\n\t\t\t<li><a href=\"/today\" title=\"New today\">Today</a></li>\r\n\t\t\t<li><a
        href=\"/week\" title=\"New this week\">Week</a></li>\r\n\t\t\t<li><a href=\"/month\"
        title=\"New this month\">Month</a></li>\r\n\t\t</ul>\r\n\t</div>\r\n\t<div
        id=\"subheader\">\r\n\t\t<nav><ul class=\"tabs\">\r\n\t\t\t<li class=\"firsttab\"><a
        href=\"/games\">games</a>\r\n\t\t\t\t<ul>\r\n\t\t\t\t\t<li><a href=\"/games/top\">popular</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/games/latest\">latest</a></li>\r\n\t\t\t\t\t<li><a href=\"https://www.indiedb.com\">indies</a></li>\r\n\t\t\t\t\t<li><a
        href=\"https://modularity.games\">publishing</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/games/add\">add game</a></li>\r\n\t\t\t\t\t\t\t\t\t</ul>\r\n\t\t\t</li>\r\n\t\t\t<li><a
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/platforms/mac
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Mac platform
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"mac, platforms, view\" />\r\n\t<meta name=\"description\" content=\"Macintosh,
        commonly known as Mac, is a brand name which covers several lines of personal
        computer[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/platforms/linux
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Linux platform
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"linux, platforms, view\" />\r\n\t<meta name=\"description\" content=\"Linux
        is based on the Unix computer operating system and embraces the free software
        and ope[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/platforms/vr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>VR platform
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"vr, platforms, view\" />\r\n\t<meta name=\"description\" content=\"VR
        encompasses many SDKs and hardware. The resurgence began in 2012 with Oculus,
        but today includes [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/platforms/ar
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>AR platform
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"ar, platforms, view\" />\r\n\t<meta name=\"description\" content=\"While
        VR has made a massive resurgence due to Oculus, AR has quietly been improving
        with Google Glas[...]
