interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/star-wars-empire-at-war-forces-of-corruption-mods
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Star Wars
        Empire at War Forces of Corruption Mods group - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"star wars
        empire at war forces of corruption mods, fans, clans, groups, events, company,
        club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"This is a Mod development team.Here we are developing the mod T.G.H.W(the
        great hyperspace war).If you know anything about modding,then apply.\" />\r\n\t<meta
        name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\"
        co[...]
