interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/cryengine-3
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>CryENGINE
        3 - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"cryengine 3, Commercial, video game engine, indie game, 3d, render,
        builder, tool, graphics, networking, make game, kit game, develop, application\"
        />\r\n\t<meta name=\"description\" content=\"CryENGINE\xAE3 is the first PC,
        Playstation\xAE3, and Xbox 360\u2122 all-in-one game development solution
        that is Next-Gen ready with scalable computation and graphics technologies.
        Using the C[...]
