interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/platforms/mac
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Mac platform
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"mac, platforms, view\" />\r\n\t<meta name=\"description\" content=\"Macintosh,
        commonly known as Mac, is a brand name which covers several lines of personal
        computers designed, developed, and marketed by Apple Inc. Though Apple has
        never actively encouraged the development of games for its platform, many
        developers have...\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
  [...]
