interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/source
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Source
        engine - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"source, Commercial, video game engine, indie game, 3d, render, builder,
        tool, graphics, networking, make game, kit game, develop, application\" />\r\n\t<meta
        name=\"description\" content=\"The Source engine is a 3D game engine developed
        by Valve Corporation. Its unique features include a large degree of modularity
        and flexibility, an artist-driven, shader-based renderer, accurate lip sync
   [...]
