interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Games and
        mods development for Windows, Linux and Mac - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"pc, games, mods, linux, mac, addons,
        downloads, videos, gallery, development, community, features, reviews, previews,
        tutorials, forums\" />\r\n\t<meta name=\"description\" content=\"ModDB covers
        game development and modding on Windows, Mac and Linux with downloads of the
        best user generated content.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta pro[...]
