interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/wallace2anjos
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>wallace2anjos
        company - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"wallace2anjos, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"This
        is my hobby. You can choose the next mod, just send me a message on my profile
        or on my channel on youtube .. : DD\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"2101343456720[...]
