interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/looking-for-3d-modeller-for-fast-past-shooting-game1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Looking
        for 3D Modeller for fast past shooting game job - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"looking for
        3d modeller for fast past shooting game, anywhere, artists, jobs, vacancies,
        help wanted, recruit, resume, staff, hire, employement, career, industry,
        position, wage, salary, tutition\" />\r\n\t<meta name=\"description\" content=\"View
        the artists job Looking for 3D Modeller for fast past shooting game in Anywhere\"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        property=\"fb:[...]
