interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/warhammer-40k-fans-group
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Warhammer
        40K Fan Group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"warhammer 40k fan group, fans, clans, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"For everyone that likes Warhammer 40k Tabletop and Dawn of War Games
        or anything to do with Warhammer 40K.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t[...]
