interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/the-last-tinker-city-of-colors/videos/movie-max-1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>movie max
        1 video - The Last Tinker: City of Colors - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"the last tinker city of colors, movie
        max 1, video, audio, multimedia, watch, stream, tv, content, listen, hear,
        mp3, in-game\" />\r\n\t<meta name=\"description\" content=\"View the Mod DB
        The Last Tinker: City of Colors video movie max 1\" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        pr[...]
