interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/grand-theft-auto-san-andreas/addons/superman-sa-beta-v10
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SUPERMAN
        SA BETA v1.0 addon - Grand Theft Auto: San Andreas - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"grand theft
        auto san andreas, superman sa beta v10, player, skin, downloads, customize,
        mods, singleplayer maps, multiplayer maps, player skins, weapon skins, player
        models, gun models, weapon models, sounds, audio, music, decals, guis, huds,
        sprites, sprays, textures\" />\r\n\t<meta name=\"description\" content=\"Play
        as Clark Kent, Superman &quot;Classic Version&quot; or Superman Returns 2006
        Version. Superman can fly, Run extremely Fast, Has Super Strength, Use Super
        Powers.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"SUPERMAN SA BETA v1.0 addon - Grand Theft
        Auto: San Andreas\" />\r\n\t<meta property=\"og:description\" content=\"Play
        as Clark Kent, Superman &quot;Classic Version&quot; or Superman Returns 2006
        Version. Superman can fly, Run extremely Fast, Has Super Strength, Use Super
        Powers.\" />\r\n\t<meta property=\"og:site_name\" content=\"Mod DB\" />\r\n\t<meta
        property=\"og:type\" content=\"download\" /> \r\n\t<meta property=\"og:url\"
        content=\"https://www.moddb.com/games/grand-theft-auto-san-andreas/addons/superman-sa-beta-v10\"
        /> \r\n\t<meta property=\"og:image\" content=\"https://media.moddb.com/images/downloads/1/5/4023/browse_raw.jpg\"
        /> \r\n\t \r\n\t<meta property=\"twitter:card\" content=\"summary_large_image\"
        />\r\n\t<meta property=\"twitter:site\" content=\"@moddb\" />\r\n\t<meta property=\"twitter:title\"
        content=\"SUPERMAN SA BETA v1.0 addon - Grand Theft Auto: San Andreas\" />\r\n\t<meta
        property=\"twitter:description\" content=\"Play as Clark Kent, Superman &quot;Classic
        Version&quot; or Superman Returns 2006 Version. Superman can fly, Run extremely
        Fast, Has Super Strength, Use Super Powers.\" />\r\n\t<meta property=\"twitter:url\"
        content=\"https://www.moddb.com/games/grand-theft-auto-san-andreas/addons/superman-sa-beta-v10\"
        /> \r\n\t<meta property=\"twitter:image\" content=\"https://media.moddb.com/images/downloads/1/5/4023/browse_raw.jpg\"
        /> \r\n\t<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"https://static.moddb.com/html/external/min/index.php?g=css&amp;73\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.ico\" type=\"image/x-icon\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.png\" type=\"image/png\"
        sizes=\"96x96\" />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon-192x192.png\"
        type=\"image/png\" sizes=\"192x192\" />\r\n\t<link rel=\"apple-touch-icon\"
        href=\"https://www.moddb.com/apple-touch-icon.png\" sizes=\"180x180\" />\r\n\t<link
        rel=\"alternate\" href=\"https://rss.moddb.com/games/grand-theft-auto-san-andreas/addons/feed/rss.xml\"
        type=\"application/rss+xml\" title=\"SUPERMAN SA BETA v1.0 addon - Grand Theft
        Auto: San Andreas feed\" />\t<script src=\"https://static.moddb.com/html/external/min/index.php?g=jquery&amp;1\"></script><script>\r\n\t\t!function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g,function(e){return(e^(window.crypto||window.msCrypto).getRandomValues(new
        Uint8Array(1))[0]&15>>e/4).toString(16)})};e.config=i||{},e.config.apiKey=o,e.config.workspaceId=n,e.config.environment=e.config.environment||\"production\",(window.crypto||window.msCrypto)&&(e.config.viewId=t());for(var
        g=[\"addon\",\"identify\",\"track\",\"trigger\",\"query\",\"segment\",\"segments\",\"ready\",\"on\",\"once\",\"user\",\"consent\"],r=0;r<g.length;r++){var
        w=g[r];e[w]=function(o){return function(){var n=Array.prototype.slice.call(arguments,0);e.q.push({functionName:o,arguments:n})}}(w)}}}(window.permutive,\"394f5b6d-4224-4a63-9ca8-964c7ebc364e\",\"0f73e92f-4074-4fe3-85d3-ed3fc969859e\",{\"consentRequired\":
        true});\r\n\t\twindow.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting(\"permutive\").length){var
        e=window.localStorage.getItem(\"_pdfps\");window.googletag.pubads().setTargeting(\"permutive\",e?JSON.parse(e):[]);var
        o=window.localStorage.getItem(\"permutive-id\");o&&(window.googletag.pubads().setTargeting(\"puid\",o),window.googletag.pubads().setTargeting(\"ptime\",Date.now().toString())),window.permutive.config.viewId&&window.googletag.pubads().setTargeting(\"prmtvvid\",window.permutive.config.viewId),window.permutive.config.workspaceId&&window.googletag.pubads().setTargeting(\"prmtvwid\",window.permutive.config.workspaceId)}});\r\n\t\tpermutive.identify([{\r\n\t\t\t\"id\":
        \"4616793\",\r\n\t\t\t\"tag\": \"dbolical_id\"\r\n\t\t}]);\r\n\t\tpermutive.addon(\"web\",{\r\n\t\t\"page\":
        {\r\n\t\t\t\"user\":{\"logged_in\":true,\"subscriber\":false},\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\"companies\":[\"Rockstar\"],\r\n\t\t\t\t\r\n\t\t\t\"themes\":[\"Single
        Player\",\"Entertainment\"],\t\r\n\t\t\t\"video_games\":[{\"genres\":[\"Blockbuster\",\"Action
        Adventure\"],\"name\": \"Grand Theft Auto: San Andreas\",\"platforms\":[\"PS2\",\"PC\",\"Xbox\"]}],\r\n\t\t\t\r\n\t\t\t\"classifications_watson\":
        {\r\n\t\t\t\"categories\": \"$alchemy_taxonomy\",\r\n\t\t\t\"keywords\": \"$alchemy_keywords\"
        }\r\n\t\t}});\r\n\t\t</script>\r\n\t\t<script async src=\"https://0f73e92f-4074-4fe3-85d3-ed3fc969859e.edge.permutive.app/0f73e92f-4074-4fe3-85d3-ed3fc969859e-web.js\"></script><link
        rel=\"stylesheet\" href=\"https://static.moddb.com/html/external/min/index.php?b=cutoff&amp;f=css/mentions.css&amp;1\"
        type=\"text/css\" />\r\n</head>\r\n<body>\r\n\r\n<div id=\"body\">\r\n<div
        class=\"container\">\r\n\t<header><div id=\"header\">\r\n\t\t<div id=\"searchbox\">\r\n\t\t\t
        \r\n\t\t\t<span class=\"member\"><a href=\"/members/eremosthesecond\" title=\"Your
        personal control panel and profile\"><strong>EremosTheSecond</strong></a>
        | <a href=\"/messages/inbox\" class=\"pmicon messagescount\" title=\"Private
        Messages\">0</a> | <a href=\"/messages/updates\" title=\"Group and watch updates\"><span
        class=\"updatescount\">11</span> updates</a> | <a href=\"/forum/board/thread-watch\"
        title=\"Forum threadwatch\"><span class=\"threadwatchcount\">0</span> threads</a>
        | <a href=\"/members/logout\">logout</a></span>\r\n\t\t\t<form action=\"https://www.moddb.com/search\"
        class=\"search\" method=\"get\"><input type=\"text\" name=\"q\" maxlength=\"500\"
        value=\"\" id=\"sitesearch\" class=\"text\" placeholder=\"Search\"  /><input
        type=\"image\" name=\"sa\" value=\"Search\" src=\"https://static.moddb.com/cutoff/images/default/btn_search_box.png\"
        class=\"button\" alt=\"Search Mod DB\" title=\"Search Mod DB\"  /></form>\t\t\t
        \r\n\t\t</div>\r\n\r\n\t\t<h1>SUPERMAN SA BETA v1.0 addon - Grand Theft Auto:
        San Andreas</h1>\r\n\t\t<a href=\"/\" class=\"logo\" title=\"Mod DB Home\"></a>\r\n\r\n
        \t\t \r\n\t\t<ul class=\"tabs\">\r\n\t\t\t \r\n\t\t\t<li class=\"on\"><a href=\"/\">HOME</a></li>\r\n\t\t\t
        \r\n\t\t\t<li><a href=\"/today\" title=\"New today\">Today</a></li>\r\n\t\t\t<li><a
        href=\"/week\" title=\"New this week\">Week</a></li>\r\n\t\t\t<li><a href=\"/month\"
        title=\"New this month\">Month</a></li>\r\n\t\t</ul>\r\n\t</div>\r\n\t<div
        id=\"subheader\">\r\n\t\t<nav><ul class=\"tabs\">\r\n\t\t\t<li class=\"on
        firsttab\"><a href=\"/games\">games</a>\r\n\t\t\t\t<ul>\r\n\t\t\t\t\t<li><a
        href=\"/games/top\">popular</a></li>\r\n\t\t\t\t\t<li><a href=\"/games/latest\">latest</a></li>\r\n\t\t\t\t\t<li><a
        href=\"https://www.indiedb.com\">indies</a></li>\r\n\t\t\t\t\t<li><a href=\"https://modularity.games\">publishing</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/games/add\">add game</a></li>\r\n\t\t\t\t\t\t\t\t\t</ul>\r\n\t\t\t</li>\r\n\t\t\t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/brutal-doom/addons/project-brutality
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Project
        Brutality 2.03 addon - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"brutal doom mod for doom, project
        brutality 203, prefab, downloads, customize, mods, singleplayer maps, multiplayer
        maps,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/sudoku-e-sport-world-cup-2017/addons/collector-files
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Collector
        files addon - Sudoku e-Sport World Cup 2017 - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"sudoku e sport world cup 2017, collector
        files, music, downloads, customize, mods, sing[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/addons/hl2dm-20b
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>hl2dm_20b
        addon - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"hl2dm 20b, multiplayer, map, downloads, customize, mods, singleplayer
        maps, multiplayer maps, player skins, weapon skins, player models, gun models,
        weapon mod[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/call-of-chernobyl/addons/doctorx-dynamic-faction-relations
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>DoctorX
        Dynamic Faction Relations 1.8  [1.4.22] addon - S.T.A.L.K.E.R.: Call of Chernobyl
        mod for S.T.A.L.K.E.R.: Call of Pripyat - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"stalke[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/call-of-chernobyl/addons/arsenal-overhaul
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Arsenal
        Overhaul 3.1 (v.5) addon - S.T.A.L.K.E.R.: Call of Chernobyl mod for S.T.A.L.K.E.R.:
        Call of Pripyat - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"stalker call of chernobyl mod for stalker ca[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc-generals-zero-hour/addons/usa-challenge
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>USA Challenge
        addon - C&#038;C: Generals Zero Hour - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"cc generals zero hour, usa challenge,
        singleplayer, map, downloads, customize, mods, singleplayer ma[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/axis-allies/addons/simple-vanilla-sai-buff
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Simple
        Vanilla SAI Buff addon - Axis &#038; Allies - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"axis allies, simple vanilla sai buff,
        singleplayer, map, downloads, customize, mods, singleplayer ma[...]
