interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/tiberium-essence/videos/vlado32-fields-of-green
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Vlado32
        - Fields Of Green audio - Tiberium Essence mod for C&#038;C3: Tiberium Wars
        - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"tiberium essence mod for cc3 tiberium wars, vlado32 fields of green,
        video, audio, multimedia, watch, stream, tv, content, listen, hear, mp3, in-game\"
        />\r\n\t<meta name=\"description\" content=\"This track is intended to be
        featured in yellow zone music list. Perfect ambient music for slowly decaying
        cities surrounded by &quot;fields of green&quot; - tiberium. :)\" />\r\n\t<meta
        nam[...]
