interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/calradia-1417/images/new-khergit-armors-will-be-included-in-the-next-patch
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>New Khergit
        Armors (will be included in the next patch) image - Calradia 1417 mod for
        Mount &#038; Blade: Warband - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"calradia 1417 mod for mount blade
        warband, new khergit armors will be included in the next patch, image, screenshots,
        screens, picture, photo, render, concept, art, in-game\" />\r\n\t<meta name=\"description\"
        content=\"View the ModDB Calradia 1417 mod for Mount &#038; Blade: Warband
        image New Khergit Armors (will be included in the next patch)\" />\r\n\t<meta
        name=\"robots\" content=[...]
