interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/mount-blade-warband
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Mount &#038;
        Blade: Warband Windows, RTX game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"mount blade warband, windows, rtx
        remix, single, multiplayer, medieval, indie, role, playing, video game, indie
        game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description\" content=\"Mount and Blade: Warband is the first sequel
        for the action role-playing video game Mount and Blade. First announced in
        January 2009, the game was developed by TaleWorl[...]
