interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/third-age-total-war/videos/rohan7
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Rohan video
        - Third Age - Total War mod for Medieval II: Total War: Kingdoms - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"third age
        total war mod for medieval ii total war kingdoms, rohan, video, audio, multimedia,
        watch, stream, tv, content, listen, hear, mp3, in-game\" />\r\n\t<meta name=\"description\"
        content=\"Rohan Intro Video by MasterBigAB from twcenter.net.\" />\r\n\t<meta
        name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\"
        content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\" content=\"Rohan
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/erie/videos/pewdiepie-approved
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>PewDIePie
        Approved!! video - ERIE - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"erie, pewdiepie approved, video, audio,
        multimedia, watch, stream, tv, content, listen, hear, mp3, in-game\" />\r\n\t<meta
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/the-last-tinker-city-of-colors/videos/movie-max-1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>movie max
        1 video - The Last Tinker: City of Colors - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"the last tinker city of colors, movie
        max 1, video, audio, multimedia, watch, stream, tv, co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/dawns-light/videos/movie-max-1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>movie max
        1 video - Dawn's Light - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"dawns light, movie max 1, video, audio,
        multimedia, watch, stream, tv, content, listen, hear, mp3, in-game\" />\r\n\t<meta
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/doom-exp/videos/doom-exp-15g-flamethrower
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Doom Exp
        1.5g - Flamethrower video - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"doom exp mod for doom ii, doom exp
        15g flamethrower, video, audio, multimedia, watch, stream, tv, content, listen,
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/saxondragon/videos/prophesy-of-pendor-39-official-trailer
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Prophesy
        of Pendor 3.9 | Official Trailer video - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"prophesy of pendor mod for mount blade
        warband, prophesy of pendor 39 official trailer, v[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/extreme-vs-full-boost-mod/images/new-dlc-released
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>New DLC
        released! image - Extreme VS full boost mod for Ultimate Knight Windom XP
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"extreme vs full boost mod for ultimate knight windom xp, new dl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/third-age-total-war/images/the-gates-of-argonath
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The Gates
        of Argonath image - Third Age - Total War mod for Medieval II: Total War:
        Kingdoms - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"third age total war mod for medieval ii total
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/panoramical/images/screenshot2
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Screenshot
        image - Panoramical - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"panoramical, screenshot, image, screenshots, screens,
        picture, photo, render, concept, art, in-game\" />\r\n\t<meta name=\"descripti[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/grave-matters/images/image-3
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Image 3
        - Grave Matters - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"grave matters, image 3, image, screenshots, screens,
        picture, photo, render, concept, art, in-game\" />\r\n\t<meta name=\"description\"
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/calradia-1417/images/new-khergit-heavy-armor1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>New Khergit
        Heavy Armor image - Calradia 1417 mod for Mount &#038; Blade: Warband - Mod
        DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"calradia 1417 mod for mount blade warband, new khergit heavy armor,[...]
