interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/brutal-doom/addons/project-brutality
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Project
        Brutality 2.03 addon - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"brutal doom mod for doom, project
        brutality 203, prefab, downloads, customize, mods, singleplayer maps, multiplayer
        maps, player skins, weapon skins, player models, gun models, weapon models,
        sounds, audio, music, decals, guis, huds, sprites, sprays, textures\" />\r\n\t<meta
        name=\"description\" content=\"***PROJECT BRUTALITY 2.03 IS NOW LIVE*** Project
        Brutality is back and it is big[...]
[...]
