interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/recovered-operations/videos/recoil-tension
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Recoil
        Tension audio - Recovered Operations mod for Half-Life 2 - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"recovered
        operations mod for half life 2, recoil tension, video, audio, multimedia,
        watch, stream, tv, content, listen, hear, mp3, in-game\" />\r\n\t<meta name=\"description\"
        content=\"Composed by @[Nukedrabbit95](members:nukedrabbit95:490593)\" />\r\n\t<meta
        name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\"
        content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\" content=\"Recoil
  [...]
