interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/2013-mod-of-the-year-awards
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Competition
        - 2013 Mod of the Year Awards - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"home, 2013 mod of the year awards,
        event, groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
        name=\"description\" content=\"Welcome to the 12th Annual Mod of the Year
        Awards, a celebration of the years finest mods chosen by you and us.\" />\r\n\t<meta
        name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\"
        content=\"21013434[...]
