interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/indie-game-contest-strasbourg-2016
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Indie Game
        Contest Strasbourg 2016 group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"indie game contest strasbourg 2016,
        event, groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
        name=\"description\" content=\"For the fourth year running, Strasbourg European
        Fantastic Film Festival organises the Indie Game Contest for independent video
        games developers. The Indie Game Contest highlights independent quality video
        games as artistic works, foc[...]
