interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/erie/videos/pewdiepie-approved
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>PewDIePie
        Approved!! video - ERIE - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"erie, pewdiepie approved, video, audio,
        multimedia, watch, stream, tv, content, listen, hear, mp3, in-game\" />\r\n\t<meta
        name=\"description\" content=\"...................__ ............./\xB4\xAF/'...'/\xB4\xAF\xAF`\xB7\xB8
        ........../'/.../..../......./\xA8\xAF\\ ........('(...\xB4...\xB4.... \xAF~/'...')
        .........\\.................'...../ ..........''...\\.......... _.\xB7\xB4
        .[...]
