interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for middle earth, windows,
        single, multiplayer, fantasy, aaa, real, time, strategy, video game, indie
        game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description\" content=\"Using the Lord Of The Rings movie license,
        The Battle for Middle-earth is a Real-Time Strategy game based upon both the
        renown literary works of J.R.R. Tolkien, and the fi[...]
