interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/addons/hl2dm-20b
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>hl2dm_20b
        addon - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"hl2dm 20b, multiplayer, map, downloads, customize, mods, singleplayer
        maps, multiplayer maps, player skins, weapon skins, player models, gun models,
        weapon models, sounds, audio, music, decals, guis, huds, sprites, sprays,
        textures\" />\r\n\t<meta name=\"description\" content=\"HL2 deathmatch level
        created for mapcore.net\xB4s 20 brush competition, to make a level that is
        made out of [...]
[...]
