interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/fear/tutorials/alma1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Alma? tutorial
        - F.E.A.R. - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"fear, alma, articles, information, data, gossip,
        feature, read, view, discuss\" />\r\n\t<meta name=\"description\" content=\"In
        this tutorial I will show you how to set up trigger system that will send
        command to the game and respond with Alma's appearance...\" />\r\n\t<meta
        name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\"
        content=\"210134345672[...]
