interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II: Rise of the Witch King Windows game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, windows, single, multiplayer, war,
        aaa, real, time, strategy, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"This
        is an expansion pack for Battle for Middle Earth II. It adds new armies such
        as Arnor &#038; Angmar and has many new expanded heroes and units. The game
        focuses on the Return of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for middle earth ii, windows,
        single, multiplayer, fantasy, aaa, real, time, strategy, video game, indie
        game, s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for middle earth, windows,
        single, multiplayer, fantasy, aaa, real, time, strategy, video game, indie
        game, standalone[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/mount-blade-warband
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Mount &#038;
        Blade: Warband Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"mount blade warband, windows, single,
        multiplayer, medieval, indie, role, playing, video game, indie game, standalone
        game, developers, creation, expansion pack\" />\r\n\t<meta name=\"description\"
        content=\"Mount and Blade: Warband is the first sequel for the action role-playing
        video game Mount and Blade. First announced in January 2009, the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/minecraft
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Minecraft
        Windows, Mac, Linux, VR, AR, Web, iOS, iPad, Android, X360, PS4, PS3, VITA
        game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"minecraft, windows, mac, linux, vr, ar, web, ios, ipad, android,
        xbox 360, playstation[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/zombie-treat
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Zombie
        Treat Windows, Mac, Linux, Web, iOS, Android game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"zombie treat,
        windows, mac, linux, web, ios, android, single, player, comedy, indie, arcade,
        video game, indie game,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/half-life
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Half-Life
        Windows, Mac, Linux, PS2 game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"half life, windows, mac, linux, playstation
        2, single, multiplayer, sci, fi, aaa, first, person, shooter, video game,
        indie game, standa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/diablo-2-lod
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Diablo
        II: Lord of Destruction Windows, Mac game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"diablo ii lord of destruction, windows,
        mac, single, multiplayer, fantasy, aaa, hack, n, slash, video game, indie
        game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description\" content=\"Explore the snowy homeland of the Barbarians,
        face fiendish new monsters, and arm yourself with thousands o[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/car-chase-simulator
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Car Chase
        Simulator Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"car chase simulator, windows, single,
        player, movie, indie, car, combat, video game, indie game, standalone game,
        developers, creatio[...]
