interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/diablo-2-lod
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Diablo
        II: Lord of Destruction Windows, Mac game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"diablo ii lord of destruction, windows,
        mac, single, multiplayer, fantasy, aaa, hack, n, slash, video game, indie
        game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description\" content=\"Explore the snowy homeland of the Barbarians,
        face fiendish new monsters, and arm yourself with thousands of new weapons,
        armor, and magical items in the fight agains[...]
