interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/project-zer0/news/new-intro-wip
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>New intro
        wip news - Project Zer0(hiatus) mod for Portal 2 - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"project zer0hiatus
        mod for portal 2, new intro wip, articles, information, data, gossip, feature,
        read, view, discuss\" />\r\n\t<meta name=\"description\" content=\"I made
        a new intro for the mod, that (kind of) explains how you get into old aperture.\"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\"
        cont[...]
