interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/custom-night
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Custom
        Night group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"custom night, event, groups, events, company,
        club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"Here is the group where you can try out any Custom Night you want
        and I will create one every each week. For the Five Nights At Freddy's Series
        when it comes to FNaF Fan-Made games like for example, Five Nights At Candy's
        or POPGOES. \" />\r\n\t<meta name=[...]
[...]
