interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/middle-earth-at-war
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Middle
        Earth at War mod for Mount &#038; Blade: Warband - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"middle earth
        at war mod, mount blade warband, total conversion, addon, development, indie,
        extension, creation, episode, chapter, expansion pack, single, multiplayer,
        fantasy, role, playing\" />\r\n\t<meta name=\"description\" content=\"Middle
        Earth at War is a LOTR singleplayer sandbox Mod for Warband. It is mostly
        a visual overhaul of Native and includes entire middle earth with the main
        factions.\" />\r\n\t<meta name=[...]
[...]
