interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/jaunt-vr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Jaunt VR
        hardware - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"jaunt vr, vr, video, virtual reality, augmented reality, hardware,
        headsets, haptics, controllers, input, keyboard, handheld, feedback, developers,
        creation, gear\" />\r\n\t<meta name=\"description\" content=\"Our camera system
        simultaneously records 3D stereoscopic video in all directions. Coupled with
        our 3D sound-field microphones, we capture everything needed to reconstruct
        the co[...]
