interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/hardware/osvr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>OSVR hardware
        - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"osvr, windows, mac, linux, vr, android, headset, virtual reality,
        augmented reality, hardware, headsets, haptics, controllers, input, keyboard,
        handheld, feedback, developers, creation, gear\" />\r\n\t<meta name=\"description\"
        content=\"Razer is part of the Open-Source Virtual Reality (OSVR) ecosystem,
        a new standard in VR gaming to push the VR gaming experience forward and supporting
      [...]
