beautifulsoup4 == 4.6.3
Werkzeug==0.16.1
requests>=2.20.0
toolz==0.11.2
feedparser==6.0.10
robobrowser==0.5.3
pyrate-limiter==2.8.1

sphinx == 1.8.3
sphinx-autodoc-typehints == 1.6.0

pytest==7.1.2
pytest_html==3.1.1