interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/project-neptune-vr
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Project
        Neptune VR VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"project neptune vr, vr, vr, virtual
        reality, augmented reality, software, architecture, retail, tours, social
        networking, sdk, educational, medical, environment, maps, simulation, editing,
        capture, recording, developers, creation\" />\r\n\t<meta name=\"description\"
        content=\"Project Neptune VR is the virtual reality demo of our main machine,
        the Project Neptune ARC. In this virtual r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/software/project-neptune-vr/page/1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Project
        Neptune VR VR software - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"project
        neptune vr, vr, vr, virtual reality, augmented reality, software, architecture,
  [...]
[...]
