interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SAGE (Strategy
        Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"sage strategy action game engine, Proprietary,
        video game engine, indie game, 3d, render, builder, tool, graphics, networking,
        make game, kit game, develop, application\" />\r\n\t<meta name=\"description\"
        content=\"The SAGE engine is a game engine used by Westwood Studios and Electronic
        Arts for real-time strategy games.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/games/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Games -
        SAGE (Strategy Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, browse, search, [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/red-alert-a-path-beyond
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Red Alert:
        A Path Beyond Windows, Mac game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"red alert a path beyond, windows,
        mac, multiplayer, war, indie, first, person, shooter, video game, indie game,
        standal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc-tiberium-wars
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>C&#038;C3:
        Tiberium Wars Windows, Mac game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"cc3 tiberium wars, windows, mac, single,
        multiplayer, sci, fi, aaa, real, time, strategy, video game, indie game, standalone
        g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/tiberiumconflict
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Tiberium
        Conflict Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"tiberium conflict, windows, multiplayer,
        sci, fi, indie, first, person, shooter, video game, indie game, standalone
        game, developers, crea[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Dune: War of Assassins Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for dune war of assassins,
        windows, multiplayer, sci, fi, indie, first, person, shooter, video game,
        indie game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description\" content=\"Battle for Dune: War of Assassins brings you
        a First-Person Shooter reimagining of Westwood\u2019s Classic Real-Time Strategy,
        Emperor: Battle for Dune, the Great Houses are launching focused strikes across
        the face of Arrakis to claim territory. These...\" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Battle for Dune: War of Assassins Windows
        game\" />\r\n\t<meta property=\"og:description\" content=\"Battle for Dune:
        War of Assassins brings you a First-Person [...]
