interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SAGE (Strategy
        Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"sage strategy action game engine, Proprietary,
        video game engine, indie game, 3d, render, builder, tool, graphics, networking,
        make game, kit game, develop, application\" />\r\n\t<meta name=\"description\"
        content=\"The SAGE engine is a game engine used by Westwood Studios and Electronic
        Arts for real-time strategy games.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - SAGE (Strategy Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, browse, se[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - SAGE (Strategy Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, bro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/news/gandalf-the-black
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Gandalf
        The Black news - Battle for Middle-earth II: Rise of the Witch King - Mod
        DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"battle for middle earth ii rise of the witch [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune/news/battle-for-dune-war-of-assassins-infantry-release-announcement
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Dune: War of Assassins Infantry Release is now Live! news - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        dune war of assassins, battle [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc-generals-zero-hour/news/zh-worldbuilder-discord-community-worldbuilder-27b
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>[ZH Worldbuilder
        Discord] Community Worldbuilder 2.7b news - C&#038;C: Generals Zero Hour -
        Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"cc generals zero hour, zh [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune/news/battle-for-dune-war-of-assassins-infantry-release-trailer
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        For Dune: War of Assassins - Infantry Release Trailer news - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        dune war of assassins, battle for dune[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune/news/battle-for-dune-blog-135
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        For Dune Blog #135 news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for dune war of assassins,
        battle for dune blog 135, articles, information, data, gossip, feature, read,
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune/news/battle-for-dune-war-of-assassins-new-map-changes
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Dune: War of Assassins - New Map Changes news - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        dune war of assassins, battle for dune war of assassins [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune/news/battle-for-dune-war-of-assassins-september-update-1008-the-shader-patch
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        For Dune: War of Assassins - September Update - 1.0.0.8 The Shader Patch news
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"battle for dune [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc-generals-zero-hour/news/zh-worldbuilder-discord-map-releases
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>[ZH Worldbuilder
        Discord] Map Releases news - C&#038;C: Generals Zero Hour - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"cc generals
        zero hour, zh worldbuilder discord map rele[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/red-alert-2-apocalypse-rising/news/whats-happening-with-apocalypse-rising
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>What's
        happening with Apocalypse Rising? news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"red alert 2 apocalypse rising, whats
        happening with apocalypse rising, art[...]
