interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SAGE (Strategy
        Action Game Engine) - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"sage strategy action game engine, Proprietary,
        video game engine, indie game, 3d, render, builder, tool, graphics, networking,
        make game, kit game, develop, application\" />\r\n\t<meta name=\"description\"
        content=\"The SAGE engine is a game engine used by Westwood Studios and Electronic
        Arts for real-time strategy games.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/games/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Games -
        SAGE (Strategy Action Game Engine) - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, browse, search, v[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/tcw-w3d
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Tiberium
        Crystal War Windows game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"tiberium crystal war, windows, single,
        multiplayer, war, indie, first, person, shooter, video game, indie game, standalone
        game, developers, crea[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc-generals
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>C&#038;C:
        Generals Windows, RTX game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"cc generals, windows, rtx remix, single,
        multiplayer, fighter, aaa, real, time, strategy, video game, indie game, standalone
        game, develop[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc4-tiberian-twilight
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>C&#038;C4:
        Tiberian Twilight Windows game - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"cc4 tiberian twilight, windows, single,
        multiplayer, sci, fi, aaa, real, time, tactics, video game, indie game, standalone
        [...]
