interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SAGE (Strategy
        Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"sage strategy action game engine, Proprietary,
        video game engine, indie game, 3d, render, builder, tool, graphics, networking,
        make game, kit game, develop, application\" />\r\n\t<meta name=\"description\"
        content=\"The SAGE engine is a game engine used by Westwood Studios and Electronic
        Arts for real-time strategy games.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - SAGE (Strategy Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, browse, se[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - SAGE (Strategy Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, bro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune/news/battle-for-dune-war-of-assassins-infantry-release-trailer
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        For Dune: War of Assassins - Infantry Release Trailer news - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        dune war of assassins, battle for dune[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune/news/battle-for-dune-war-of-assassins-game-night-celebrating-a-spicy-year
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        For Dune: War of Assassins - Game Night - Celebrating a Spicy Year! news -
        Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"battle for dune war of a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune/news/battle-for-dune-war-of-assassins-june-update-a-new-chapter
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Dune: War of Assassins - June Update - A New Chapter news - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        dune war of assassins, battle for [...]
[...]
