interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SAGE (Strategy
        Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"sage strategy action game engine, Proprietary,
        video game engine, indie game, 3d, render, builder, tool, graphics, networking,
        make game, kit game, develop, application\" />\r\n\t<meta name=\"description\"
        content=\"The SAGE engine is a game engine used by Westwood Studios and Electronic
        Arts for real-time strategy games.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/games/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Games -
        SAGE (Strategy Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, browse, search, [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc4-tiberian-twilight
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>C&#038;C4:
        Tiberian Twilight Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"cc4 tiberian twilight, windows, single,
        multiplayer, sci, fi, aaa, real, time, tactics, video game, indie game, standalone
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/renegade-coop
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Renegade
        Coop Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"renegade coop, windows, multiplayer, war, indie,
        first, person, shooter, video game, indie game, standalone game, developers,
        creation, expansion[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for middle earth ii, windows,
        single, multiplayer, fantasy, aaa, real, time, strategy, video game, indie
        game, s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II: Rise of the Witch King Windows game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, windows, single, multiplayer,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-dune
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Dune: War of Assassins Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for dune war of assassins,
        windows, multiplayer, sci, fi, indie, first, person, shooter, video game,
        indie game, standalone game, developers, creation, expansion pack\" />\r\n\t<meta
        name=\"description\" content=\"Battle for Dune: War of Assassins brings you
        a First-Person Shooter reimagining of Westwood\u2019s Classic Real-Time Strategy,
        Emperor: Battle for Dune, the Great Houses are launching focused strikes across
        the face of Arrakis to claim territory. These...\" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Battle for Dune: War of Assassins Windows
        game\" />\r\n\t<meta property=\"og:description\" content=\"Battle for Dune:
        War of Assassins brings you a First-Person [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/recon-x
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Recon X
        Windows game - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"recon x, windows, single, multiplayer, war, indie,
        first, person, shooter, video game, indie game, standalone game, developers,
        creation, expansion pack\" />[...]
