interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/third-age-total-war/videos/rohan7
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Rohan video
        - Third Age - Total War mod for Medieval II: Total War: Kingdoms - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"third age
        total war mod for medieval ii total war kingdoms, rohan, video, audio, multimedia,
        watch, stream, tv, content, listen, hear, mp3, in-game\" />\r\n\t<meta name=\"description\"
        content=\"Rohan Intro Video by MasterBigAB from twcenter.net.\" />\r\n\t<meta
        name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\"
        content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\" content=\"Rohan
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/third-age-total-war/videos/rohan7/page/1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Rohan video
        - Third Age - Total War mod for Medieval II: Total War: Kingdoms - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"third age total war mod for medie[...]
[...]
