interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Mod
        for Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"edain mod
        mod, battle for middle earth ii rise of the witch king, total conversion,
        addon, development, indie, extension, creation, episode, chapter, expansion
        pack, single, multiplayer, fantasy, real, time, strategy\" />\r\n\t<meta name=\"description\"
        content=\"The Battle for Middle-earth has just begun! The Edain Mod returns
        to the classic gameplay of the first Battle for Middle-earth, reimagined with
        countless new he[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/page/1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Mod
        for Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"edain mod mod, battle for middle earth ii rise
        of the witch k[...]
[...]
