interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Mod
        for Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"edain mod
        mod, battle for middle earth ii rise of the witch king, total conversion,
        addon, development, indie, extension, creation, episode, chapter, expansion
        pack, single, multiplayer, fantasy, real, time, strategy\" />\r\n\t<meta name=\"description\"
        content=\"The Battle for Middle-earth has just begun! The Edain Mod returns
        to the classic gameplay of the first Battle for Middle-earth, reimagined with
        countless new he[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Edain Mod for Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"edain mod for battle for middle earth ii rise
        of the witch king, browse, search, video game editorals, mod previews, game
        previews, interviews, features, articles, competitions, discussion, tutorials,
        news, event coverage, information\" />\r\n\t<meta name=\"description\" content=\"Browse
        Edain Mod for Battle for Middle-earth II: Rise of the Witch King article direct
        from modders.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Articles - Edain Mod for Battle for Middle-earth
        II: Rise of the Witch King\" />\r\n\t<meta property=\"og:description\" content=\"Browse
        Edain Mod for Battle for Middle-earth II: Rise of the Witch King article direct
        from modders.\" />\r\n\t<meta property=\"og:site_name\" content=\"ModDB\"
        />\r\n\t \r\n\t \r\n\t \r\n\t \r\n\t<meta property=\"twitter:card\" content=\"summary\"
        />\r\n\t<meta property=\"twitter:site\" content=\"@moddb\" />\r\n\t<meta property=\"twitter:title\"
        content=\"Articles - Edain Mod for Battle for Middle-earth II: Rise of the
        Witch King\" />\r\n\t<meta property=\"twitter:description\" content=\"Browse
        Edain Mod for Battle for Middle-earth II: Rise of the Witch King article direct
        from modders.\" />\r\n\t \r\n\t \r\n\t<link rel=\"stylesheet\" type=\"text/css\"
        media=\"all\" href=\"https://static.moddb.com/html/external/min/index.php?g=css&amp;76\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.ico\" type=\"image/x-icon\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.png\" type=\"image/png\"
        sizes=\"96x96\" />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon-192x192.png\"
        type=\"image/png\" sizes=\"192x192\" />\r\n\t<link rel=\"apple-touch-icon\"
        href=\"https://www.moddb.com/apple-touch-icon.png\" sizes=\"180x180\" />\r\n\t<link
        rel=\"alternate\" href=\"https://rss.moddb.com/mods/edain-mod/articles/feed/rss.xml\"
        type=\"application/rss+xml\" title=\"Articles - Edain Mod for Battle for Middle-earth
        II: Rise of the Witch King feed\" />\t<script src=\"https://static.moddb.com/html/external/min/index.php?g=jquery&amp;1\"></script><link
        rel=\"next\" href=\"/mods/edain-mod/articles/page/2\" /><script async src=https://boot.pbstck.com/v1/adm/b178b8eb-fe5d-4a51-a6b1-7859f8598523></script><script
        type=\"text/javascript\" data-cfasync=\"false\" crossorigin=\"anonymous\"
        src=\"https://static.kueezrtb.com/latest.js\" id=\"kueezrtb_latest\"></script><meta
        name=\"pbstck_context:country\" content=\"nl\"/><script>\r\n\t\t!function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g,function(e){return(e^(window.crypto||window.msCrypto).getRandomValues(new
        Uint8Array(1))[0]&15>>e/4).toString(16)})};e.config=i||{},e.config.apiKey=o,e.config.workspaceId=n,e.config.environment=e.config.environment||\"production\",(window.crypto||window.msCrypto)&&(e.config.viewId=t());for(var
        g=[\"addon\",\"identify\",\"track\",\"trigger\",\"query\",\"segment\",\"segments\",\"ready\",\"on\",\"once\",\"user\",\"consent\"],r=0;r<g.length;r++){var
        w=g[r];e[w]=function(o){return function(){var n=Array.prototype.slice.call(arguments,0);e.q.push({functionName:o,arguments:n})}}(w)}}}(window.permutive,\"394f5b6d-4224-4a63-9ca8-964c7ebc364e\",\"0f73e92f-4074-4fe3-85d3-ed3fc969859e\",{\"consentRequired\":
        true});\r\n\t\twindow.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting(\"permutive\").length){var
        e=window.localStorage.getItem(\"_pdfps\");window.googletag.pubads().setTargeting(\"permutive\",e?JSON.parse(e):[]);var
        o=window.localStorage.getItem(\"permutive-id\");o&&(window.googletag.pubads().setTargeting(\"puid\",o),window.googletag.pubads().setTargeting(\"ptime\",Date.now().toString())),window.permutive.config.viewId&&window.googletag.pubads().setTargeting(\"prmtvvid\",window.permutive.config.viewId),window.permutive.config.workspaceId&&window.googletag.pubads().setTargeting(\"prmtvwid\",window.permutive.config.workspaceId)}});\r\n\t\tpermutive.identify([{\r\n\t\t\t\"id\":
        \"4616793\",\r\n\t\t\t\"tag\": \"dbolical_id\"\r\n\t\t}]);\r\n\t\tpermutive.addon(\"web\",{\r\n\t\t\"page\":
        {\r\n\t\t\t\"user\":{\"logged_in\":true,\"subscriber\":false},\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\"companies\":[\"Edain
        Team\"],\r\n\t\t\t\t\r\n\t\t\t\"themes\":[\"Single Player\",\"Multiplayer\"],\t\r\n\t\t\t\"video_games\":[{\"genres\":[\"Fantasy\",\"Strategy\"],\"name\":
        \"Battle for Middle-earth II: Rise of the Witch King\",\"platforms\":[\"Windows\",\"PC\"]}],\r\n\t\t\t\r\n\t\t\t\"classifications_watson\":
        {\r\n\t\t\t\"categories\": \"$alchemy_taxonomy\",\r\n\t\t\t\"keywords\": \"$alchemy_keywords\"
        }\r\n\t\t}});\r\n\t\t</script>\r\n\t\t<script async src=\"https://0f73e92f-4074-4fe3-85d3-ed3fc969859e.edge.permutive.app/0f73e92f-4074-4fe3-85d3-ed3fc969859e-web.js\"></script>\n<script
        src=\"https://static.moddb.com/html/external/min/index.php?b=cutoff&amp;f=js/misc.isab.js\"></script>\r\n</head>\r\n<body>\r\n\r\n<div
        id=\"body\">\r\n<div class=\"container\">\r\n\t<header><div id=\"header\">\r\n\t\t<div
        id=\"searchbox\">\r\n\t\t\t \r\n\t\t\t<span class=\"member\"><a href=\"/members/eremosthesecond\"
        title=\"Your personal control panel and profile\"><strong>EremosTheSecond</strong></a>
        | <a href=\"/messages/inbox\" class=\"pmicon messagescount\" title=\"Private
        Messages\">0</a> | <a href=\"/messages/updates\" title=\"Group and watch updates\"><span
        class=\"updatescount\">1061</span> updates</a> | <a href=\"/forum/board/thread-watch\"
        title=\"Forum threadwatch\"><span class=\"threadwatchcount\">0</span> threads</a>
        | <a href=\"/members/logout\">logout</a></span>\r\n\t\t\t<form action=\"https://www.moddb.com/search\"
        class=\"search\" method=\"get\"><input type=\"text\" name=\"q\" maxlength=\"500\"
        value=\"\" id=\"sitesearch\" class=\"text\" placeholder=\"Search\"  /><input
        type=\"image\" name=\"sa\" value=\"Search\" src=\"https://static.moddb.com/cutoff/images/default/btn_search_box.png\"
        class=\"button\" alt=\"Search ModDB\" title=\"Search ModDB\"  /></form>\t\t\t
        \r\n\t\t</div>\r\n\r\n\t\t<h1>Articles - Edain Mod for Battle for Middle-earth
        II: Rise of the Witch King</h1>\r\n\t\t<a href=\"/\" class=\"logo\" title=\"ModDB
        Home\"></a>\r\n\r\n \t\t \r\n\t\t<ul class=\"tabs\">\r\n\t\t\t<li class=\"on\"><a
        href=\"/\">HOME</a></li>\r\n\t\t\t<li><a href=\"/today\" title=\"New today\">Today</a></li>\r\n\t\t\t<li><a
        href=\"/week\" title=\"New this week\">Week</a></li>\r\n\t\t\t<li><a href=\"/month\"
        title=\"New this month\">Month</a></li>\r\n\t\t\t<li><a href=\"/year\" title=\"New
        this year\">Year</a></li>\r\n\t\t\t \r\n\t\t</ul>\r\n\t</div>\r\n\t<div id=\"subheader\">\r\n\t\t<nav><ul
        class=\"tabs\">\r\n\t\t\t<li class=\"firsttab\"><a href=\"/games\">games</a>\r\n\t\t\t\t<ul>\r\n\t\t\t\t\t<li><a
        href=\"/games/top\">popular</a></li>\r\n\t\t\t\t\t<li><a href=\"/games/latest\">latest</a></li>\r\n\t\t\t\t\t
        \r\n\t\t\t\t\t<li><a href=\"https://www.indiedb.com\">indies</a></li>\r\n\t\t\t\t\t<li><a
        href=\"https://modularity.games\">publishing</a></li>\r\n\t\t\t\t\t \r\n\t\t\t\t\t<li><a
        href=\"/games/add\">add game</a></li>\r\n\t\t\t\t\t\t\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Edain Mod for Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"edain mod for battle for middle ea[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/news/for-ship-and-swan
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>For Ship
        and Swan! news - Edain Mod for Battle for Middle-earth II: Rise of the Witch
        King - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"edain mod for battle for middle earth ii rise of the witch king,
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/news/edain-48-a-return-to-form-pt-i
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain 4.8:
        A Return to Form Pt. I news - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"edain mod for battle for middle earth
        ii rise of the witch king, edain 48 a return to form pt i, articles, info[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/news/edain-47-lake-town
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain 4.7:
        Lake-town news - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"edain mod for battle for middle earth ii rise
        of the witch king, edain 47 lake town, articles, information, data, gossip,
        featur[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/news/edain-472-released
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain 4.7.2
        Released! news - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"edain mod for battle for middle earth ii rise
        of the witch king, edain 472 released, articles, information, data, gossip,
        featu[...]
