interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"edain team, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"This
        is the group of the Edain Mod Developer Team. It is mainly used to manage
        the rights of its members on this site.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team/tutorials/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"edain team,
        developer, publisher, groups, events, company, club, community, programme[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team/tutorials/page/1?filter=t&meta=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"edain team,
        developer, publisher, groups, events, company, club, community, pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/mesapreta
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Mesa Preta
        Dubs company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"mesa preta dubs, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"U[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/harddevs
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Hard-Life
        Development Team company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"hard life development team, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
        />\r\n\t<meta name=\"desc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/sierra-entertainment
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Sierra
        Entertainment company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"sierra entertainment, developer, publisher,
        groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
        name=\"desc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/wallace2anjos
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>wallace2anjos
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"wallace2anjos, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"This
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/westwood-studios
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Westwood
        Studios company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"westwood studios, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/gsc-game-world
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>GSC Game
        World company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"gsc game world, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/magolis-compopack
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Magolis
        Compopack company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"magolis compopack, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
       [...]
