interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"edain team, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"This
        is the group of the Edain Mod Developer Team. It is mainly used to manage
        the rights of its members on this site.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team/games/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"edain team,
        developer, publisher, groups, events, company, club, community, programmers,
[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/mesapreta
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Mesa Preta
        Dubs company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"mesa preta dubs, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"U[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/dtastaff
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Dawn of
        the Tiberium Age Staff company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"dawn of the tiberium age staff, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
        />\r\n\t<meta nam[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/gas-powered-games
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Gas Powered
        Games company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"gas powered games, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/spreading-infection
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Ribcaged
        Entertainment company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"ribcaged entertainment, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
        />\r\n\t<meta name=\"d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/electronic-arts
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Electronic
        Arts company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"electronic arts, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        conte[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/call-of-duty-modern-operations
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Call Of
        Duty - Modern Operations company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"call of duty modern operations, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/team-psykskallar
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Team Psykskallar
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"team psykskallar, developer, publisher, groups, events, company,
        club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/taleworlds
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>TaleWorlds
        Entertainment company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"taleworlds entertainment, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
        />\r\n\t<meta name=\"descri[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/agent-red-productions
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Agent Red
        Productions company - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"agent red productions, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"descriptio[...]
