interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"edain team, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"This
        is the group of the Edain Mod Developer Team. It is mainly used to manage
        the rights of its members on this site.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team/addons/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"edain team,
        developer, publisher, groups, events, company, club, community, programmers,[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team/addons/page/1?filter=t&licence=4
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"edain team,
        developer, publisher, groups, events, company, club, community, pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/team-psykskallar
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Team Psykskallar
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"team psykskallar, developer, publisher, groups, events, company,
        club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/acoustic-alpha
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Acoustic
        Alpha company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"acoustic alpha, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/roman-the-o
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Roman O
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"roman o, developer, publisher, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"A developer
        and[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/valve
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Valve company
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"valve, developer, publisher, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"Valve
        the company behind [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/gta-moders
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>GTA MODERS
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"gta moders, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"THIS
        IS A [...]
