interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"edain team, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"This
        is the group of the Edain Mod Developer Team. It is mainly used to manage
        the rights of its members on this site.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team/downloads/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"edain team,
        developer, publisher, groups, events, company, club, community, programmer[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team/downloads/page/1?category=3&filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"edain team,
        developer, publisher, groups, events, company, club, community,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/call-of-duty-modern-operations
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Call Of
        Duty - Modern Operations company - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"call of duty modern operations, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/spreading-infection
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Ribcaged
        Entertainment company - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"ribcaged entertainment, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
        />\r\n\t<meta name=\"de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/epic-games
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Epic Games
        company - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"epic games, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"Epic
        is bes[...]
