interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"edain team, developer, publisher, groups, events, company, club,
        community, programmers, artists\" />\r\n\t<meta name=\"description\" content=\"This
        is the group of the Edain Mod Developer Team. It is mainly used to manage
        the rights of its members on this site.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/edainmod-dev-team/engines/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain Team
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta name=\"robots\"
        content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"edain team,
        developer, publisher, groups, events, company, club, community, programmers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/nuezware
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>NUEZWARE
        company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"nuezware, developer, publisher, groups, events, company, club, community,
        programmers, artists\" />\r\n\t<meta name=\"description\" content=\"A developer
        and [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/gas-powered-games
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Gas Powered
        Games company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"gas powered games, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/magolis-compopack
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Magolis
        Compopack company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"magolis compopack, developer, publisher, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/gundam-rts-development-group
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Gundam
        RTS Development Group company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"gundam rts development group, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
        /[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/sierra-entertainment
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Sierra
        Entertainment company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"sierra entertainment, developer, publisher,
        groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
        name=\"desc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/company/call-of-duty-modern-operations
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Call Of
        Duty - Modern Operations company - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"call of duty modern operations, developer,
        publisher, groups, events, company, club, community, programmers, artists\"
 [...]
