interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SAGE (Strategy
        Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"sage strategy action game engine, Proprietary,
        video game engine, indie game, 3d, render, builder, tool, graphics, networking,
        make game, kit game, develop, application\" />\r\n\t<meta name=\"description\"
        content=\"The SAGE engine is a game engine used by Westwood Studios and Electronic
        Arts for real-time strategy games.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - SAGE (Strategy Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, browse, se[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/engines/sage-strategy-action-game-engine/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - SAGE (Strategy Action Game Engine) - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"sage
        strategy action game engine, bro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cold-war-confrontation/news/cold-war-confrontation-announcement
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Cold War
        Confrontation - Announcement news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"cold war confrontation, cold war confrontation
        announcement, articles, information, dat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/red-alert-2-apocalypse-rising/news/red-alert-2-apocalypse-rising-mega-update
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Red Alert
        2: Apocalypse Rising Mega Update news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"red alert 2 apocalypse rising, red
        alert 2 apocalypse rising mega upd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/cc-generals-zero-hour/tutorials/coding-basics-2
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Coding
        Basics #2 tutorial - C&#038;C: Generals Zero Hour - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"cc generals
        zero hour, coding basics 2, articles, information, data, gossip, feature,
        read, view, discuss\" />\r\n\t<meta name=\"description\" content=\"(Coding
        Basic:Editing Units) this tutorial is made by:Opsnyder From gamereaplys(dot)org
        i uploaded this here because some tutorials from this web is have broken links
        not only this web also cnclabs(dot)com they got alot of tutorials thier uploaded
        sometime...\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Coding Basics #2 tutorial - C&#038;C[...]
