interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II: Rise of the Witch King Windows game - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, windows, single, multiplayer, war,
        aaa, real, time, strategy, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"This
        is an expansion pack for Battle for Middle Earth II. It adds new armies such
        as Arnor &#038; Angmar and has many new expanded heroes and units. The game
        focuses on the Return of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle for mid[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/the-history-of-middle-earth-the-history-of-ages/tutorials/mapping-for-bfme
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Mapping
        For THOA tutorial - The History of Ages 2024 mod for Battle for Middle-earth
        II: Rise of the Witch King - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"the history of ages 2024 mod for battle
        for middle earth ii rise of the witch king, mapping for thoa, articles, information,
        data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"description\"
        content=\"In this article we will deal with all the nuances of working on
        maps in the THOA mod, as the knowledge of map editing in this pro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/the-word-of-tolkien-mod/news/the-word-of-tolkien-project-version-60
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The Word
        of Tolkien Project: Version 6.0 news - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"the word of tolkien mod for battle
        for middle earth ii rise of the witch king, the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/news/edain-471-released
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain 4.7.1
        Released! news - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"edain mod for battle for middle earth ii rise
        of the witch king, edain 471 released, articles, information, data, gossip,
        featu[...]
