interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II: Rise of the Witch King Windows game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, windows, single, multiplayer, war,
        aaa, real, time, strategy, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"This
        is an expansion pack for Battle for Middle Earth II. It adds new armies such
        as Arnor &#038; Angmar and has many new expanded heroes and units. The game
        focuses on the Return of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle for mi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/news/guardians-of-the-citadel-and-the-fountain-court
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Guardians
        of the Citadel and the Fountain Court news - Edain Mod for Battle for Middle-earth
        II: Rise of the Witch King - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"edain mod for battle for middle earth
        ii rise of the witch king, guardians of the citadel and the fountain court,
        articles, information, data, gossip, feature, read, view, discuss\" />\r\n\t<meta
        name=\"description\" content=\"The next version will feature a rework of the
        Guardians of the Citadel and Towerguards.\" />\r\n\t<meta name=\"robot[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/rc-mod/news/wars-of-the-firstborn-year-2-and-more
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Wars of
        the Firstborn Year 2 and More news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"wars of the firstborn based on the
        ridder clan mod for battle for middle earth ii rise of the witch ki[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/edain-mod/news/edain-47-released
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Edain 4.7
        Released! news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"edain mod for battle for middle earth ii rise
        of the witch king, edain 47 released, articles, information, data, gossip,
        feature,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/the-word-of-tolkien-mod/news/twotp-40-announcement-artificial-intelligent-improvement
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>TWOTP 4.0
        Announcement: Artificial Intelligent Improvement news - The Word of Tolkien
        Mod for Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"the word
        of tolkien mod for battle for middle earth ii rise of the witch king, twotp
        40 announcement artificial intelligent improvement, articles, information,
        data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"description\"
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/history-of-middle-earth/news/bfme-2-and-rotwk-remaster-announcement
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>BFME 2
        and ROTWK Remaster Announcement news - History Of Middle-Earth mod for Battle
        for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/arnor-gondor-rohan/news/arnor-gondor-rohan-13
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Arnor Gondor
        Rohan 1.3 news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"arnor gondor rohan mod for battle for middle earth
        ii rise of the witch king, arnor gondor rohan 13, articles, informatio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/news/age-of-the-ring-version-80
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Age of
        the Ring Version 8.0 news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"age of the ring version 80, articles,
        information, data, gossip, feature, read, view, discuss\" />\r\n\t<meta name=\"description\"
    [...]
