interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II: Rise of the Witch King Windows game - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, windows, single, multiplayer, war,
        aaa, real, time, strategy, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"This
        is an expansion pack for Battle for Middle Earth II. It adds new armies such
        as Arnor &#038; Angmar and has many new expanded heroes and units. The game
        focuses on the Return of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Addons
        - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle for middle [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/page/1?filter=t&licence=4
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Addons
        - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/battle-under-the-trees-old-forest-road
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        Under the Trees - Old Forest Road addon - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for middle earth ii rise of
        the witch king, b[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/the-trilogy-beta
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The Trilogy
        (Beta) addon - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/esgaroth-v112-edain
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Esgaroth
        v1.1.2 (Edain) addon - Battle for Middle-earth II: Rise of the Witch King
        - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"battle for middle earth ii rise of [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/forests-of-drusna
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Forests
        of Drusna addon - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, forests of drusna, multiplayer, map,
        downloads, customize, mods, singleplayer maps, multiplayer maps, player skins,
        weapon skins, player models, gun models, weapon models, sounds, audio, music,
        decals, guis, huds, sprites, sprays, textures\" />\r\n\t<meta name=\"description\"
        content=\"It is a 4-Player-Map for RotWK (2 vs 2 or 1 vs 1 vs 1 vs 1).\_\_
        The whole map is divided into two parts by a large gorge. The gorge can be
        crossed over two bridges and through a small winding path. There are two versions
        of the map. One for vanilla...\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Forests of Drusna addon - Battle for Middle-earth
        II: Rise of the Witch King\" />\r\n\t<meta property=\"og:description\" content=\"It
        is a 4-Player-Map for RotWK (2 vs 2 or 1 vs 1 vs 1 vs 1).\_\_ The whole map
        is divided into two parts by a large gorge. The gorge can be crossed over
        two bridges and through a small winding path. There are two versions of the
        map. One for vanilla...\" />\r\n\t<meta property=\"og:site_name\" content=\"ModDB\"
        />\r\n\t<meta property=\"og:type\" content=\"download\" /> \r\n\t<met[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/durthang-1p-and-2p
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Durthang
        - 1p and 2p addon - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, durthang 1p and 2p, singleplayer,
        map, downloads, customize, mods, singleplayer maps, multiplayer maps, player
        skins, weapon skins, player models, gun models, weapon models, sounds, audio,
        music, decals, guis, huds, sprites, sprays, textures\" />\r\n\t<meta name=\"description\"
        content=\"INSTALATION: place both folders in: C(or whatever):/Users/(your
        name)/AppData/Roaming/My The Lord of the Rings, Rise of the Witch-king Files/Maps
        NOTE: You may want to make sure that you can see hidden files. make sure you
        have Edain mod activated or...\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Durthang - 1p and 2p addon - Battle for Middle-earth
        II: Rise of the Witch King\" />\r\n\t<meta property=\"og:description\" content=\"INSTALATION:
        place both folders in: C(or what[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/annuminas
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Annuminas
        addon - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, annumina[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/siege-of-minas-ithil
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Siege of
        Minas Ithil addon - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of th[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/amon-lanc
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Amon Lanc
        addon - Battle for Middle-earth II: Rise of the Witch King - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, amon lan[...]
