interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II: Rise of the Witch King Windows game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, windows, single, multiplayer, war,
        aaa, real, time, strategy, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"This
        is an expansion pack for Battle for Middle Earth II. It adds new armies such
        as Arnor &#038; Angmar and has many new expanded heroes and units. The game
        focuses on the Return of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/tags/ajax/more?ajax=t&sitearea=games&siteareaid=10009
  response:
    body:
      string: '{"error":false,"success":true,"text":"","tags":{"2730010":{"id":"2730010","sitearea":"2","siteareaid":"10009","date":"1676113052","official":"0","positive":"2","negative":"0","tagid":"lord-of-the-ring-2","tag":"lord
        of the ring 2","trending":"2"},"4796":{"id":"4796","sitearea":"2","siteareaid":"10009","date":"1477381738","official":"1","positive":"5","negative":"1","tagid":"moddable","tag":"Moddable","trending":"0"},"4800":{"id":"4800","sitearea":"2","siteareaid":"10009","date":"1477381738","official":"1","positive":"3","negative":"0","tagid":"single-player","tag":"Single-Player","trending":"-1"},"4797":{"id":"4797","sitearea":"2","siteareaid":"10009","date":"1477381738","official":"1","positive":"3","negative":"0","tagid":"multipla[...]
[...]
