interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II: Rise of the Witch King Windows game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, windows, single, multiplayer, war,
        aaa, real, time, strategy, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"This
        is an expansion pack for Battle for Middle Earth II. It adds new armies such
        as Arnor &#038; Angmar and has many new expanded heroes and units. The game
        focuses on the Return of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Addons
        - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle for middle[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/page/1?filter=t&licence=4
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Addons
        - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/caras-galadhon-v12-edain
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Caras Galadhon
        v1.2 (Edain) addon - Battle for Middle-earth II: Rise of the Witch King -
        Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"battle for middle earth i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/annuminas
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Annuminas
        addon - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, annumin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/celeborn-addition
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Celeborn
        Addition addon - Battle for Middle-earth II: Rise of the Witch King - Mod
        DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"battle for middle earth ii rise of the witch king, celeborn addition,
        texture, downloads, customize, mods, singleplayer maps, multiplayer maps,
        player skins, weapon skins, player models, gun models, weapon models, sounds,
        audio, music, decals, guis, huds, sprites, sprays, textures\" />\r\n\t<meta
        name=\"description\" content=\"An small addon that adds Celeborn as a playable
        hero and also adds a new texture for him. \" />\r\n\t<meta name=\"robots\"
        content=\"max-image-preview:large\" />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\" content=\"Celeborn Addition addon - Battle for Middle-earth
        II: Rise of the Witch King\" />\r\n\t<meta property=\"og:description\" content=\"An
        small addon that adds Celeborn as a playable hero and also adds a new texture
        for him. \" />\r\n\t<meta property=\"og:site_name\" content=\"Mod DB\" />\r\n\t<meta
        property=\"og:type\" content=\"download\" /> \r\n\t<meta property=\"og:url\"
        content=\"https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/celeborn-addition\"
        /> \r\n\t<meta property=\"og:image\" content=\"https://media.moddb.com/images/downloads/1/219/218804/addon_image.jpg\"
        /> \r\n\t \r\n\t<meta property=\"twitter:card\" content=\"summary_large_image\"
        />\r\n\t<meta property=\"twitter:site\" content=\"@moddb\" />\r\n\t<meta property=\"twitter:title\"
        content=\"Celeborn Addition addon - Battle for Middle-earth II: Rise of the
        Witch King\" />\r\n\t<meta property=\"twitter:description\" content=\"An small
        addon that adds Celeborn as a playable hero and also adds a new texture for
        him. \" />\r\n\t<meta property=\"twitter:url\" content=\"https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/celeborn-addition\"
        /> \r\n\t<meta property=\"twitter:image\" content=\"https://media.moddb.com/images/downloads/1/219/218804/addon_image.jpg\"
        /> \r\n\t<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"https://static.moddb.com/html/external/min/index.php?g=css&amp;73\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.ico\" type=\"image/x-icon\"
        />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon.png\" type=\"image/png\"
        sizes=\"96x96\" />\r\n\t<link rel=\"icon\" href=\"https://www.moddb.com/favicon-192x192.png\"
        type=\"image/png\" sizes=\"192x192\" />\r\n\t<link rel=\"apple-touch-icon\"
        href=\"https://www.moddb.com/apple-touch-icon.png\" sizes=\"180x180\" />\r\n\t<link
        rel=\"alternate\" href=\"https://rss.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/feed/rss.xml\"
        type=\"application/rss+xml\" title=\"Celeborn Addition addon - Battle for
        Middle-earth II: Rise of the Witch King feed\" />\t<script src=\"https://static.moddb.com/html/external/min/index.php?g=jquery&amp;1\"></script><script>\r\n\t\t!function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g,function(e){return(e^(window.crypto||window.msCrypto).getRandomValues(new
        Uint8Array(1))[0]&15>>e/4).toString(16)})};e.config=i||{},e.config.apiKey=o,e.config.workspaceId=n,e.config.environment=e.config.environment||\"production\",(window.crypto||window.msCrypto)&&(e.config.viewId=t());for(var
        g=[\"addon\",\"identify\",\"track\",\"trigger\",\"query\",\"segment\",\"segments\",\"ready\",\"on\",\"once\",\"user\",\"consent\"],r=0;r<g.length;r++){var
        w=g[r];e[w]=function(o){return function(){var n=Array.prototype.slice.call(arguments,0);e.q.push({functionName:o,arguments:n})}}(w)}}}(window.permutive,\"394f5b6d-4224-4a63-9ca8-964c7ebc364e\",\"0f73e92f-4074-4fe3-85d3-ed3fc969859e\",{\"consentRequired\":
        true});\r\n\t\twindow.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting(\"permutive\").length){var
        e=window.localStorage.getItem(\"_pdfps\");window.googletag.pubads().setTargeting(\"permutive\",e?JSON.parse(e):[]);var
        o=window.localStorage.getItem(\"permutive-id\");o&&(window.googletag.pubads().setTargeting(\"puid\",o),window.googletag.pubads().setTargeting(\"ptime\",Date.now().toString())),window.permutive.config.viewId&&window.googletag.pubads().setTargeting(\"prmtvvid\",window.permutive.config.viewId),window.permutive.config.workspaceId&&window.googletag.pubads().setTargeting(\"prmtvwid\",window.permutive.config.workspaceId)}});\r\n\t\t\r\n\t\tpermutive.addon(\"web\",{\r\n\t\t\"page\":
        {\r\n\t\t\t\"user\":{\"logged_in\":false,\"subscriber\":false},\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\"companies\":[\"Electronic
        Arts\"],\r\n\t\t\t\t\r\n\t\t\t\"themes\":[\"Single Player\",\"Multiplayer\",\"Military\"],\t\r\n\t\t\t\"video_games\":[{\"genres\":[\"Blockbuster\",\"Strategy\"],\"name\":
        \"Battle for Middle-earth II: Rise of the Witch King\",\"platforms\":[\"PC\"]}],\r\n\t\t\t\r\n\t\t\t\"classifications_watson\":
        {\r\n\t\t\t\"categories\": \"$alchemy_taxonomy\",\r\n\t\t\t\"keywords\": \"$alchemy_keywords\"
        }\r\n\t\t}});\r\n\t\t</script>\r\n\t\t<script async src=\"https://0f73e92f-4074-4fe3-85d3-ed3fc969859e.edge.permutive.app/0f73e92f-4074-4fe3-85d3-ed3fc969859e-web.js\"></script>\r\n</head>\r\n<body>\r\n\r\n<div
        id=\"body\">\r\n<div class=\"container\">\r\n\t<header><div id=\"header\">\r\n\t\t<div
        id=\"searchbox\">\r\n\t\t\t \r\n\t\t\t<span class=\"guest\">Hello guest <a
        href=\"/members/register\">register</a> or <a href=\"/members/login\" id=\"togglelogin\">sign
        in</a></span><span class=\"arrow\">&nbsp;</span>\r\n\t\t\t<form action=\"https://www.moddb.com/search\"
        class=\"search\" method=\"get\"><input type=\"text\" name=\"q\" maxlength=\"500\"
        value=\"\" id=\"sitesearch\" class=\"text\" placeholder=\"Search\"  /><input
        type=\"image\" name=\"sa\" value=\"Search\" src=\"https://static.moddb.com/cutoff/images/default/btn_search_box.png\"
        class=\"button\" alt=\"Search Mod DB\" title=\"Search Mod DB\"  /></form>\t\t\t
        \r\n\t\t\t<form action=\"https://www.moddb.com/members/login\" method=\"post\"
        name=\"memberform\" class=\"login\"><input type=\"hidden\" name=\"referer\"
        value=\"/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/celeborn-addition/\"
        /><input type=\"hidden\" name=\"rememberme\" value=\"1\" /><input type=\"hidden\"
        name=\"members\" value=\"1\" /><span class=\"eebcedfecfcformouter\"><span><span><span><span
        class=\"eebcedfecfcforminner\"><input type=\"text\" name=\"IyNmNTBkNTMxMDM3MDg3ZjhjZjk3OWE3ZjViZTQ4ZmE4Yzc5NzgyMzU5MjJ1c2VybmFtZQ:E::E:\"
        maxlength=\"500\" value=\"\" placeholder=\"Username\" class=\"text\" autocomplete=\"off\"
        \ /></span></span></span></span></span><span class=\"eebcedfecfcformouter\"><span><span><span
        class=\"eebcedfecfcforminner\"><input type=\"text\" name=\"IyNmNTBkNTMxMDM3MDg3ZjhjZjk3OWE3ZjViZTQ4ZmE4YzU5MzE4MjA3MDJib3RjYXRjaGVy\"
        maxlength=\"500\" placeholder=\"Username\" class=\"text\" autocomplete=\"off\"
        \ /></span></span></span></span><style> span.eebcedfecfcformouter span span
        span.eebcedfecfcforminner { display: none; } span.eebcedfecfcformouter span
        span span span.eebcedfecfcforminner { display: inline; }</style>\n<input type=\"password\"
        name=\"password\" maxlength=\"100\" placeholder=\"Password\" class=\"text
        password\" autocomplete=\"off\"  /><input type=\"submit\" name=\"members\"
        value=\"GO\" class=\"button\" title=\"Sign In\"  /></form>\t\t\t<span class=\"login\"
        style=\"display: none;\">or with: <a href=\"/members/loginext/steam\" class=\"steamiconsml\"
        style=\"float: right; margin: 3px 1px 0 4px;\" title=\"Click to connect via
        Steam\"></a><a href=\"/members/loginext/google\" class=\"googleiconsml\" style=\"float:
        right; margin: 3px 1px 0 4px;\" title=\"Click to connect via Google\"></a><a
        href=\"/members/loginext/twitter\" class=\"twittericonsml\" style=\"float:
        right; margin: 3px 1px 0 4px;\" title=\"Click to connect via Twitter\"></a><a
        href=\"/members/loginext/facebook\" class=\"facebookiconsml\" style=\"float:
        right; margin: 3px 1px 0 4px;\" title=\"Click to connect via Facebook\"></a></span>\r\n\t\t\t
        \r\n\t\t</div>\r\n\r\n\t\t<h1>Celeborn Addition addon - Battle for Middle-earth
        II: Rise of the Witch King</h1>\r\n\t\t<a href=\"/\" class=\"logo\" title=\"Mod
        DB Home\"></a>\r\n\r\n \t\t \r\n\t\t<ul class=\"tabs\">\r\n\t\t\t \r\n\t\t\t<li
        class=\"on\"><a href=\"/\">HOME</a></li>\r\n\t\t\t \r\n\t\t\t<li><a href=\"/today\"
        title=\"New today\">Today</a></li>\r\n\t\t\t<li><a href=\"/week\" title=\"New
        this week\">Week</a></li>\r\n\t\t\t<li><a href=\"/month\" title=\"New this
        month\">Month</a></li>\r\n\t\t</ul>\r\n\t</div>\r\n\t<div id=\"subheader\">\r\n\t\t<nav><ul
        class=\"tabs\">\r\n\t\t\t<li class=\"on firsttab\"><a href=\"/games\">games</a>\r\n\t\t\t\t<ul>\r\n\t\t\t\t\t<li><a
        href=\"/games/top\">popular</a></li>\r\n\t\t\t\t\t<li><a href=\"/games/latest\">latest</a></li>\r\n\t\t\t\t\t<li><a
        href=\"https://www.indiedb.com\">indies</a></li>\r\n\t\t\t\t\t<li><a href=\"https://modularity.games\">publishing</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/games/add\">add game</a></li>\r\n\t\t\t\t\t\t\t\t\t</ul>\r\n\t\t\t</li>\r\n\t\t\t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/battle-under-the-trees-old-forest-road
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        Under the Trees - Old Forest Road addon - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"battle for middle earth ii rise of
        the witch king, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/invasion-of-rohan-fords-of-isen
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Invasion
        of Rohan - Fords of Isen addon - Battle for Middle-earth II: Rise of the Witch
        King - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"battle for m[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/nivarium
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Nivarium
        v2 addon - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, nivari[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/annuminas-ii
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Annuminas
        II addon - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/addons/amon-lanc
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Amon Lanc
        addon - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, amon la[...]
