interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Battle
        for Middle-earth II: Rise of the Witch King Windows game - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"battle for
        middle earth ii rise of the witch king, windows, single, multiplayer, war,
        aaa, real, time, strategy, video game, indie game, standalone game, developers,
        creation, expansion pack\" />\r\n\t<meta name=\"description\" content=\"This
        is an expansion pack for Battle for Middle Earth II. It adds new armies such
        as Arnor &#038; Angmar and has many new expanded heroes and units. The game
        focuses on the Return of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle for mi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Battle for Middle-earth II: Rise of the Witch King - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta name=\"robots\" content=\"noindex\" /> \r\n\t<meta
        name=\"keywords\" content=\"battle[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/battle-for-middle-earth-ii-rise-of-the-witch-king/news/gandalf-the-black
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Gandalf
        The Black news - Battle for Middle-earth II: Rise of the Witch King - Mod
        DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"battle for middle earth ii rise of the witch [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/rc-mod/news/wars-of-the-firstborn-year-2-and-more
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Wars of
        the Firstborn Year 2 and More news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"wars of the firstborn based on the
        ridder clan mod for battle for middle earth ii rise of the witch ki[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/news/more-new-maps
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>More New
        Maps! news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"more new maps, articles, information, data, gossip,
        feature, read, view, discuss\" />\r\n\t<meta name=\"description\" content=\"A
        preview of new and rewo[...]
