interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Humor,
        satire, parody group - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"humor satire parody, entertainment, press, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"Home for all kinds of humor, satires, parodies, sarcasms and more.\"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\"
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Humor, satire, parody - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"humor
        satire parody, browse, search, video game editorals, mod previews[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Humor, satire, parody - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"humor
        satire parody, browse, search, video game editorals, mod p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/news/language-fails
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Language
        Fails news - Humor, satire, parody - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, language fails,
        articles, information, data, gossip, feature, read, view, discuss\" />\r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/news/british-army-how-to-deal-with-an-ied
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>British
        Army - How to deal with an IED. news - Humor, satire, parody - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"humor satire
        parody, british army how to deal with an ied, art[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/news/full-swimming-pool-stolen
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Full swimming
        pool stolen news - Humor, satire, parody - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, full swimming
        pool stolen, articles, information, data, gossip, fe[...]
