interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Humor,
        satire, parody group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, entertainment,
        press, groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
        name=\"description\" content=\"Home for all kinds of humor, satires, parodies,
        sarcasms and more.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/tags/ajax/more?ajax=t&sitearea=groups&siteareaid=2933
  response:
    body:
      string: '{"error":false,"success":true,"text":"","tags":{"1072786":{"id":"1072786","sitearea":"19","siteareaid":"2933","date":"1477381597","official":"1","positive":"6","negative":"0","tagid":"entertainment","tag":"Entertainment","trending":"2"},"1206141":{"id":"1206141","sitearea":"19","siteareaid":"2933","date":"1489923190","official":"0","positive":"7","negative":"0","tagid":"memes","tag":"Memes","trending":"1"},"1127822":{"id":"1127822","sitearea":"19","siteareaid":"2933","date":"1483149872","official":"0","positive":"6","negative":"0","tagid":"smile","tag":"Smile","trending":"0"},"1072787":{"id":"1072787","sitearea":"19","siteareaid":"2933","date":"1477381597","official":"1","positive":"4","negative":"0","tagid":"press","tag":"Press","trending":"0"},"1127819":{"id":"1127819","sitearea":"19","siteareaid":"2933","date":"1483149825","official":"0","positive":"5","negative":"0","tagid":"funny","tag":"Funny","trending":"-1"},"1127821":{"id":"1127821","sitearea":"19","siteareaid":"2933","date":"1483149860","official":"0","positive":"4","negative":"0","tagid":"lmao","tag":"LMAO","trending":"-2"},"1127820":{"id":"1127820","sitearea":"19","siteareaid":"2933","date":"1483149852","official":"0","positive":"3","negative":"0","tagid":"loldb","tag":"LoLDB","trending":"-3"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
