interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Humor,
        satire, parody group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, entertainment,
        press, groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
        name=\"description\" content=\"Home for all kinds of humor, satires, parodies,
        sarcasms and more.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/articles/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"humor
        satire parody, browse, search, video game editorals, mod preview[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/articles/page/1?filter=t&type=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Articles
        - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"humor
        satire parody, browse, search, video game editorals, mod [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/news/we-are-not-a-random-image-threadgroup
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>WE ARE
        NOT A RANDOM IMAGE THREAD/GROUP news - Humor, satire, parody - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"humor satire
        parody, we are not a random image threadgroup, a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/news/funny-one-liners
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Funny One
        Liners news - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, funny one liners,
        articles, information, data, gossip, feature, read, view, discuss[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/news/war-jokes
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>War Jokes
        news - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, war jokes, articles,
        information, data, gossip, feature, read, view, discuss\" />\r\n\t<meta name[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/rogue-republic/news/rogue-farm
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Rogue Farm
        news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"rogue republic, rogue farm, articles, information, data, gossip,
        feature, read, view, discuss\" />\r\n\t<meta name=\"description\" content=\"Hello,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/news/some-jokes
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Some jokes
        news - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, some jokes, articles,
        information, data, gossip, feature, read, view, discuss\" />\r\n\t<meta n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/polandball-not-safe-for-world/news/polandball-not-safe-for-world-goodest-edition
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Polandball
        Not Safe For World Goodest Edition news - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"polandball not safe for world, polandball
        not safe for world g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/news/countryball-world
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Countryball
        World news - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, countryball world,
        articles, information, data, gossip, feature, read, view, disc[...]
[...]
