interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Humor,
        satire, parody group - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta
        name=\"keywords\" content=\"humor satire parody, entertainment, press, groups,
        events, company, club, community, programmers, artists\" />\r\n\t<meta name=\"description\"
        content=\"Home for all kinds of humor, satires, parodies, sarcasms and more.\"
        />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\" />\r\n\t<meta
        property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta property=\"og:title\"
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/tutorials/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Tutorials
        - Humor, satire, parody - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"humor
        satire parody, browse, search, video game editorals, mod previe[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/tutorials/page/1?filter=t&meta=1
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Tutorials
        - Humor, satire, parody - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"humor
        satire parody, browse, search, video game editorals, mod[...]
