interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Humor,
        satire, parody group - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, entertainment,
        press, groups, events, company, club, community, programmers, artists\" />\r\n\t<meta
        name=\"description\" content=\"Home for all kinds of humor, satires, parodies,
        sarcasms and more.\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:large\"
        />\r\n\t<meta property=\"fb:app_id\" content=\"210134345672070\"/>\r\n\t<meta
        property=\"og:title\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/downloads/page/1?filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Downloads
        - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"humor
        satire parody, browse, search, downloads, files, addons, games[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/downloads/page/1?category=3&filter=t
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Downloads
        - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        name=\"robots\" content=\"noindex\" /> \r\n\t<meta name=\"keywords\" content=\"humor
        satire parody, browse, search, downloads, files, ad[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/downloads/the-hardest-game-ever-made
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>The Hardest
        Game Ever Made file - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, the hardest game
        ever made, full, version, downloads, file[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/downloads/star-wars-vs-star-trek-dmp-edition
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Star Wars
        vs Star Trek DMP Edition file - Humor, satire, parody - Mod DB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"humor satire
        parody, star wars vs star trek dmp edition, movie,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/style-roundup/downloads/style-roundup
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Style Roundup
        file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"style roundup, style roundup, demo, downloads, files, demos, servers,
        patches, installer, trailers, movies, wallpaper, development tools,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/downloads/scp-containment-breach-not-my-file
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>SCP containment
        Breach [Not My File] - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, scp containment
        breach not my file, demo, dow[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/mods/dark-room-series-dark-room-1-and-dark-room-2/downloads/dark-room
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Dark Room
        file - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"dark room mod for amnesia the dark descent, dark room, full, version,
        downloads, files, demos, servers, patches, in[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/games/timekillers/downloads/indie-timekillers-collection
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Indie Timekillers
        Collection file - \u0418\u043D\u0434\u0438-Timekillers \u041A\u043E\u043B\u043B\u0435\u043A\u0446\u0438\u0438
        - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"timekillers, in[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/groups/humour-satire-parody/downloads/real-super-mario-bros
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Real Super
        Mario Bros. file - Humor, satire, parody - Mod DB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t
        \r\n\t<meta name=\"keywords\" content=\"humor satire parody, real super mario
        bros, full, version, downloads, files, demos, serv[...]
