interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/jobs/programmer-enviro-artist-audio-specialist-needed-to-expand-our-launched-game
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>Programmer,
        enviro artist, audio specialist needed to expand our launched game job - ModDB</title>\r\n\t<meta
        charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\" content=\"programmer
        enviro artist audio specialist needed to expand our launched game, anywhere,
        artists, jobs, vacancies, help wanted, recruit, resume, staff, hire, employement,
        career, industry, position, wage, salary, tutition\" />\r\n\t<meta name=\"description\"
        content=\"View the job Programmer, enviro artist, audio specialist needed
        to expand our launched game in Anywhere\" />\r\n\t<meta name=\"robots\" content=\"max-image-preview:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moddb.com/members/forgedchaos
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n\t<title>ForgedChaos
        - ModDB</title>\r\n\t<meta charset=\"utf-8\">\r\n\t \r\n\t<meta name=\"keywords\"
        content=\"ForgedChaos, United States, friends, developer, profile, features,
        articles, modder, gamer, member, user\" />\r\n\t<meta name=\"description\"
        content=\"View the [...]
