# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test package

on:
  pull_request:
    branches: [ master, develop ]
    
env:
  USERNAME: ${{ secrets.USERNAME }}
  PASSWORD: ${{ secrets.PASSWORD }}
  SENDER_USERNAME: ${{ secrets.SENDER_USERNAME }}
  SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Echo env
      run: |
        echo ${{ github.event.pull_request.base.ref }}
        echo ${{ github.event.pull_request.base.ref_name }}
    - name: Black and flake
      run: |
        bash run_lint.sh
    - name: Test changes with light tests
      run: |
        bash run_tests.sh --reruns 3 --reruns-delay 15 
      if: github.event.pull_request.base.ref == 'develop'
    - name: Test changes with full tests 1/3
      run: |
        bash run_tests.sh full --test-group-count 3 --test-group=1 --reruns 3 --reruns-delay 15 
      if: github.event.pull_request.base.ref == 'master'
    - name: Test changes with full tests 2/3
      run: |
        bash run_tests.sh full --test-group-count 3 --test-group=2 --reruns 3 --reruns-delay 15 
      if: github.event.pull_request.base.ref == 'master'
    - name: Test changes with full tests 3/3
      run: |
        bash run_tests.sh full --test-group-count 3 --test-group=3 --reruns 3 --reruns-delay 15 
      if: github.event.pull_request.base.ref == 'master'
  
